<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Список производителей

      <v-icon middle color="black" class="pointer" @click="openSettings()">
        mdi-plus-circle-outline
      </v-icon>
    </h2>

    <v-data-table
        :headers="headers"
        :items="brandsList"
        :items-per-page="20"
        class="elevation-1"
        :loading="!brandsList.length"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
      <template v-slot:item.country="{ item }">
        {{ item.country.title.ua }} / {{ item.country.title.ru }}
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon middle color="black" class="pointer" @click="openSettings(item)">
          mdi-cog
        </v-icon>
        <v-icon middle color="black" class="pointer" @click="deleteBrand(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>

    <v-dialog
        v-model="dialog"
        max-width="1100px"
    >
      <v-card v-if="form">
        <v-card-title>
          Редактирование Бренда "{{ form.title.ru }}"
        </v-card-title>
        <v-card-text>

          <v-form ref="form" lazy-validation>
            <v-container class="no-padding">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                      v-model="form.title.ua"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title.ua'] : ''"
                      label="Название (укр)"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                      v-model="form.title.ru"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title.ru'] : ''"
                      label="Название (рус)"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                      v-model="form.slug"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['slug'] : ''"
                      label="Ссылка (на англ без пробелов)"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-textarea
                      name="input-7-1"
                      label="Описание (укр)"
                      v-model="form.description.ua"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['description.ua'] : ''"
                      hint="Hint text"
                  ></v-textarea>
                </v-col>
                <v-col cols="12" md="6">
                  <v-textarea
                      name="input-7-1"
                      label="Описание (рус)"
                      v-model="form.description.ru"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['description.ru'] : ''"
                      hint="Hint text"
                  ></v-textarea>
                </v-col>
                <v-col cols="12" md="6">
                  <v-select
                      v-model="form.countryId"
                      :items="countriesList"
                      :rules="[form.rules().required]"
                      item-value='id'
                      item-text='title.ua'
                      label="Страна производитель"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.countryId : ''"
                      required
                  ></v-select>
                </v-col>
                <v-col cols="12" md="6">
                  <v-file-input
                      v-model="fileUploadForm.file"
                      accept="image/*"
                      label="Загрузка изображения"
                      @change="uploadFile"
                  ></v-file-input>
                  <span v-if="!form.logo" class="color-red">Логотип не загружен</span>
                  <v-img v-if="form.logo"
                         max-height="350"
                         max-width="350"
                         :src="$config.apiUrl + form.logo">
                  </v-img>
                </v-col>
                <v-col cols="12" md="12">

                  <v-btn
                      color="primary"
                      text
                      @click="closeDialog"
                  >
                    Отмена
                  </v-btn>

                  <v-btn
                      color="success"
                      :disabled="sending"
                      class="mr-4 float-right"
                      @click="validateForm"
                  >
                    Сохранить
                  </v-btn>

                </v-col>
              </v-row>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import BrandForm from "../../dto/forms/BrandForm";
import FileUploadForm from "../../dto/forms/FileUploadForm";
import Pagination from "../../components/Pagination";

export default {
  name: "BrandsList",
  components: {Pagination},
  created() {
    this.fetchBrandsList();
    this.fetchCountriesSelectList();
  },
  data: () => ({
    dialog: false,
    form: null,
    fileUploadForm: null,
    sending: false,
    headers: [
      {
        text: '№пп',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      {text: 'Название Укр', value: 'title.ua', sortable: false},
      {text: 'Название рус', value: 'title.ru', sortable: false},
      {text: 'Ссылка', value: 'slug', sortable: false},
      {text: 'Страна', value: 'country', sortable: false},
      {text: 'Создан', value: 'createdAt', sortable: false},
      {text: 'Обновлен', value: 'updatedAt', sortable: false},
      {text: '', value: 'actions', sortable: false},
    ],
  }),
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      brandsList: 'brand/getBrandsList',
      countriesList: 'country/getCountriesSelectList',
      brand: 'brand/getBrand',
      pagination: 'brand/getBrandsPagination'
    })
  },
  methods: {
    ...mapActions({
      fetchBrandsList: 'brand/fetchBrandsList',
      fetchCountriesSelectList: 'country/fetchCountriesSelectList',
      fetchBrand: 'brand/fetchBrand',
      updateBrand: 'brand/updateBrand',
      registerBrand: 'brand/registerBrand',
      deleteRecord: 'brand/deleteBrand',
      uploadFileForm: 'file/uploadFile'
    }),
    async deleteBrand(item = {}) {
      this.$confirm('Вы действительно хотите удалить запись?').then(async res => {
        if (res) {
          await this.deleteRecord(item);
          await this.fetchBrandsList();
        }
      })
    },
    openSettings(item = {}) {
      this.form = new BrandForm(item);
      this.fileUploadForm = new FileUploadForm({group: 'brands'});
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false
      this.form = null;
    },
    async validateForm() {
      if (this.$refs.form.validate()) {
        this.sending = true;
        await this.sendBrand();
        this.sending = false;

        if (!this.httpErrors.length) {
          this.closeDialog();
          await this.fetchBrandsList();
        }
      }
    },
    async sendBrand() {
      if (this.form.id) {
        await this.updateBrand(this.form)
      } else {
        await this.registerBrand(this.form)
      }
    },
    async uploadFile() {
      await this.uploadFileForm(this.fileUploadForm).then((res) => {
        this.form.logo = res.url;
      })
    },
    async changePage(page) {
      await this.fetchBrandsList({page})
    }
  }
}
</script>

<style scoped>
.header {
  margin-bottom: 25px;
}
</style>