<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Список цветов

      <v-icon middle color="black" class="pointer" @click="openSettings()">
        mdi-plus-circle-outline
      </v-icon>
    </h2>

    <v-data-table
        :headers="headers"
        :items="countriesList"
        :items-per-page="20"
        class="elevation-1"
        :loading="!countriesList.length"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
      <template v-slot:item.hex="{ item }">
        <v-chip :color="item.hex">
          {{ item.hex }}
        </v-chip>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon middle color="black" class="pointer" @click="openSettings(item)">
          mdi-cog
        </v-icon>
        <v-icon middle color="black" class="pointer" @click="deleteColor(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>

    <v-dialog
        v-model="dialog"
        max-width="1100px"
    >
      <v-card v-if="form">
        <v-card-title>
          Редактирование цвета "{{ form.title.ru }}"
        </v-card-title>
        <v-card-text>

          <v-form ref="form" lazy-validation>
            <v-container class="no-padding">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                      v-model="form.title.ua"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title.ua'] : ''"
                      label="Название (укр)"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                      v-model="form.title.ru"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title.ru'] : ''"
                      label="Название (рус)"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                      v-model="form.slug"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['slug'] : ''"
                      label="Ссылка (на англ без пробелов)"
                      required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" md="6">
                  <v-color-picker
                      v-model="form.pickerData"
                      dot-size="25"
                      mode="hexa"
                      hide-mode-switch
                      swatches-max-height="200"
                      @update:color="setColor()"
                  ></v-color-picker>
                </v-col>
                <v-col cols="12" md="12">

                  <v-btn
                      color="primary"
                      text
                      @click="closeDialog"
                  >
                    Отмена
                  </v-btn>

                  <v-btn
                      color="success"
                      :disabled="sending"
                      class="mr-4 float-right"
                      @click="validateForm"
                  >
                    Сохранить
                  </v-btn>

                </v-col>
              </v-row>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import ColorForm from "../../dto/forms/ColorForm";
import Pagination from "../../components/Pagination";

export default {
  name: "ColorsList",
  components: {Pagination},
  data: () => {
    return {
      dialog: false,
      form: null,
      sending: false,
      headers: [
        {
          text: '№пп',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        {text: 'Название Укр', value: 'title.ua', sortable: false},
        {text: 'Название рус', value: 'title.ru', sortable: false},
        {text: 'Ссылка', value: 'slug', sortable: false},
        {text: 'Цвет', value: 'hex', sortable: false},
        {text: 'Создан', value: 'createdAt', sortable: false},
        {text: 'Обновлен', value: 'updatedAt', sortable: false},
        {text: '', value: 'actions', sortable: false},
      ],
    }
  },
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      countriesList: 'color/getColorsList',
      color: 'color/getColor',
      pagination: 'color/getColorPagination'
    })
  },
  async created() {
    await this.fetchColorsList()
  },
  methods: {
    ...mapActions({
      fetchColorsList: 'color/fetchColorsList',
      fetchColor: 'color/fetchColor',
      registerColor: 'color/registerColor',
      updateColor: 'color/updateColor',
      deleteRecord: 'color/deleteColor',
    }),
    openSettings(item = {}) {
      this.form = new ColorForm(item);
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false
      this.form = null;
    },
    async validateForm() {
      if (this.$refs.form.validate()) {
        this.sending = true;
        await this.sendColor();
        this.sending = false;

        if (!this.httpErrors.length) {
          this.closeDialog();
          await this.fetchColorsList();
        }
      }
    },
    async sendColor() {
      if (this.form.id) {
        await this.updateColor(this.form)
      } else {
        await this.registerColor(this.form)
      }
    },
    async deleteColor(item = {}) {
      this.$confirm('Вы действительно хотите удалить запись?').then(async res => {
        if (res) {
          await this.deleteRecord(item);
          await this.fetchColorsList();
        }
      })
    },
    async changePage(page) {
      await this.fetchColorsList({page})
    },
    setColor(val) {
      this.form.hex = this.form.pickerData.hex;
    }
  }
}
</script>

<style scoped>

</style>