<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Список статусов заказа

      <v-icon middle color="black" class="pointer" @click="openSettings()">
        mdi-plus-circle-outline
      </v-icon>
    </h2>

    <v-data-table
        :headers="headers"
        :items="orderStatusList"
        :items-per-page="20"
        class="elevation-1"
        :loading="!orderStatusList.length"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
      <template v-slot:item.actions="{ item }">
        <v-icon middle color="black" class="pointer" @click="openSettings(item)">
          mdi-cog
        </v-icon>
        <v-icon middle color="black" class="pointer" @click="deleteOrderStatus(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>

    <v-dialog
        v-model="dialog"
        max-width="1100px"
    >
      <v-card v-if="form">
        <v-card-title>
          Редактирование статуса заказа "{{ form.title }}"
        </v-card-title>
        <v-card-text>

          <v-form ref="form" lazy-validation>
            <v-container class="no-padding">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                      v-model="form.title"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title'] : ''"
                      label="Название"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">

                  <v-btn
                      color="primary"
                      text
                      @click="closeDialog"
                  >
                    Отмена
                  </v-btn>

                  <v-btn
                      color="success"
                      :disabled="sending"
                      class="mr-4 float-right"
                      @click="validateForm"
                  >
                    Сохранить
                  </v-btn>

                </v-col>
              </v-row>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Pagination from "../../components/Pagination";
import OrderStatusForm from "../../dto/forms/OrderStatusForm";

export default {
  name: "OrderStatusesList",
  components: {Pagination},
  created() {
    this.fetchOrderStatusList();
  },
  data: () => ({
    dialog: false,
    form: null,
    sending: false,
    headers: [
      {
        text: '№пп',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      {text: 'Название', value: 'title', sortable: false},
      {text: '', value: 'actions', sortable: false},
    ],
  }),
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      orderStatusList: 'order-status/getOrderStatusList',
      orderStatus: 'order-status/getOrderStatus',
      pagination: 'order-status/getOrderStatusPagination'
    })
  },
  methods: {
    ...mapActions({
      fetchOrderStatusList: 'order-status/fetchOrderStatusList',
      fetchOrderStatus: 'order-status/fetchOrderStatus',
      updateOrderStatus: 'order-status/updateOrderStatus',
      registerOrderStatus: 'order-status/registerOrderStatus',
      deleteRecord: 'order-status/deleteOrderStatus',
    }),
    async deleteOrderStatus(item = {}) {
      this.$confirm('Вы действительно хотите удалить запись?').then(async res => {
        if (res) {
          await this.deleteRecord(item);
          await this.fetchOrderStatusList();
        }
      })
    },
    openSettings(item = {}) {
      this.form = new OrderStatusForm(item);
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false
      this.form = null;
    },
    async validateForm() {
      if (this.$refs.form.validate()) {
        this.sending = true;
        await this.sendOrderStatus();
        this.sending = false;

        if (!this.httpErrors.length) {
          this.closeDialog();
          await this.fetchOrderStatusList();
        }
      }
    },
    async sendOrderStatus() {
      if (this.form.id) {
        await this.updateOrderStatus(this.form)
      } else {
        await this.registerOrderStatus(this.form)
      }
    },
    async changePage(page) {
      await this.fetchOrderStatusList({page})
    }
  }
}
</script>

<style scoped>
.header {
  margin-bottom: 25px;
}
</style>