<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Список размеров
    </h2>

    <v-data-table
        :headers="headers"
        :items="countriesList"
        :items-per-page="20"
        class="elevation-1"
        :loading="!countriesList.length"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>

  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Pagination from "../../components/Pagination";

export default {
  name: "SizesList",
  components: {Pagination},
  data: () => {
    return {
      dialog: false,
      form: null,
      sending: false,
      headers: [
        {
          text: '№пп',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        {text: 'размер', value: 'size', sortable: false},
        {text: 'Создан', value: 'createdAt', sortable: false},
        {text: 'Обновлен', value: 'updatedAt', sortable: false},
      ],
    }
  },
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      countriesList: 'size/getSizesList',
      size: 'size/getSize',
      pagination: 'size/getSizePagination',
    })
  },
  async created() {
    await this.fetchSizesList()
  },
  methods: {
    ...mapActions({
      fetchSizesList: 'size/fetchSizesList',
      fetchSize: 'size/fetchSize',
      registerSize: 'size/registerSize',
      updateSize: 'size/updateSize',
      deleteRecord: 'size/deleteSize',
    }),
    async changePage(page) {
      await this.fetchSizesList({page})
    }
  }
}
</script>

<style scoped>

</style>