<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Список типов обуви

      <v-icon middle color="black" class="pointer" @click="openSettings()">
        mdi-plus-circle-outline
      </v-icon>
    </h2>

    <v-data-table
        :headers="headers"
        :items="typesList"
        :items-per-page="20"
        class="elevation-1"
        :loading="!typesList.length"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
      <template v-slot:item.actions="{ item }">
        <v-icon middle color="black" class="pointer" @click="openSettings(item)">
          mdi-cog
        </v-icon>
        <v-icon middle color="black" class="pointer" @click="deleteType(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>

    <v-dialog
        v-model="dialog"
        max-width="1100px"
    >
      <v-card v-if="form">
        <v-card-title>
          Редактирование Типов Обуви "{{ form.title.ru }}"
        </v-card-title>
        <v-card-text>

          <v-form ref="form" lazy-validation>
            <v-container class="no-padding">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                      v-model="form.title.ua"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title.ua'] : ''"
                      label="Название (укр)"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                      v-model="form.title.ru"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title.ru'] : ''"
                      label="Название (рус)"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                      v-model="form.slug"
                      :rules="[form.rules().required]"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['slug'] : ''"
                      label="Ссылка (на англ без пробелов)"
                      required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-textarea
                      name="input-7-1"
                      label="Описание (укр)"
                      v-model="form.description.ua"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['description.ua'] : ''"
                      hint="Hint text"
                  ></v-textarea>
                </v-col>
                <v-col cols="12" md="6">
                  <v-textarea
                      name="input-7-1"
                      label="Описание (рус)"
                      v-model="form.description.ru"
                      :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['description.ru'] : ''"
                      hint="Hint text"
                  ></v-textarea>
                </v-col>
                <v-col cols="12" md="6">
                  <v-file-input
                      v-model="fileUploadForm.file"
                      accept="image/*"
                      label="Загрузка изображения"
                      @change="uploadFile"
                  ></v-file-input>
                  <span v-if="!form.icon" class="color-red">Изображение не загружено</span>
                  <v-img v-if="form.icon"
                         max-height="350"
                         max-width="350"
                         :src="$config.apiUrl + form.icon">
                  </v-img>
                </v-col>
                <v-col cols="12" md="12">

                  <v-btn
                      color="primary"
                      text
                      @click="closeDialog"
                  >
                    Отмена
                  </v-btn>

                  <v-btn
                      color="success"
                      :disabled="sending"
                      class="mr-4 float-right"
                      @click="validateForm"
                  >
                    Сохранить
                  </v-btn>

                </v-col>
              </v-row>
            </v-container>
          </v-form>

        </v-card-text>
        <v-card-actions>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import TypeForm from "../../dto/forms/TypeForm";
import FileUploadForm from "../../dto/forms/FileUploadForm";
import Pagination from "../../components/Pagination";

export default {
  name: "TypesList",
  components: {Pagination},
  created() {
    this.fetchTypesList();
  },
  data: () => ({
    dialog: false,
    form: null,
    fileUploadForm: null,
    sending: false,
    headers: [
      {
        text: '№пп',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      {text: 'Название Укр', value: 'title.ua', sortable: false},
      {text: 'Название рус', value: 'title.ru', sortable: false},
      {text: 'Ссылка', value: 'slug', sortable: false},
      {text: 'Создан', value: 'createdAt', sortable: false},
      {text: 'Обновлен', value: 'updatedAt', sortable: false},
      {text: '', value: 'actions', sortable: false},
    ],
  }),
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      typesList: 'type/getTypesList',
      type: 'type/getType',
      pagination: 'type/getTypePagination'
    })
  },
  methods: {
    ...mapActions({
      fetchTypesList: 'type/fetchTypesList',
      fetchType: 'type/fetchType',
      updateType: 'type/updateType',
      registerType: 'type/registerType',
      deleteRecord: 'type/deleteType',
      uploadFileForm: 'file/uploadFile'
    }),
    async deleteType(item = {}) {
      this.$confirm('Вы действительно хотите удалить запись?').then(async res => {
        if (res) {
          await this.deleteRecord(item);
          await this.fetchTypesList();
        }
      })
    },
    openSettings(item = {}) {
      this.form = new TypeForm(item);
      this.fileUploadForm = new FileUploadForm({group: 'types'});
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false
      this.form = null;
    },
    async validateForm() {
      if (this.$refs.form.validate()) {
        this.sending = true;
        await this.sendType();
        this.sending = false;

        if (!this.httpErrors.length) {
          this.closeDialog();
          await this.fetchTypesList();
        }
      }
    },
    async sendType() {
      if (this.form.id) {
        await this.updateType(this.form)
      } else {
        await this.registerType(this.form)
      }
    },
    async uploadFile() {
      await this.uploadFileForm(this.fileUploadForm).then((res) => {
        this.form.icon = res.url;
      })
    },
    async changePage(page) {
      await this.fetchTypesList({page})
    }
  }
}
</script>

<style scoped>
.header {
  margin-bottom: 25px;
}
</style>