<template>
  <v-navigation-drawer
      permanent
      v-model="drawer"
      v-if="currentUser"
      app
  >
    <v-sheet
        color="grey lighten-4"
        class="pa-4"
    >
      <v-avatar
          class="mb-4"
          color="grey darken-1"
          size="64"
      ></v-avatar>

      <div>{{ currentUser.name }}</div>
    </v-sheet>

    <v-divider></v-divider>

    <v-list>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <router-link to="/products">Каталог товара</router-link>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <router-link to="/orders">Заказы</router-link>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-group
          :value="true"
          no-action
          sub-group
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Настройки</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/static-pages">Статические Страницы</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/slider">Слайдер</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list-group>

      <v-list-group
          :value="true"
          no-action
          sub-group
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Каталоги</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/brands">Бренды</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/countries">Страны</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/sizes">Размеры</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/colors">Цвета</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/types">Типы обуви</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/seasons">Сезоны</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/delivery">Доставка</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/pay-types">Способы оплаты</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link to="/order-statuses">Статусы заказа</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Sidebar",
  data: () => ({
    drawer: null,
  }),
  async created() {
    if (!this.currentUser) {
      await this.fetchCurrentUser()
    }
  },
  computed: {
    ...mapGetters({
      isAuthorized: 'authorization/isAuthorized',
      currentUser: 'user/getCurrentUser',
    }),
  },
  methods: {
    ...mapActions({
      fetchCurrentUser: 'user/fetchCurrentUser'
    })
  },
}
</script>

<style scoped lang="scss">
.link {
  display: block;
}
</style>