<template>
  <v-container fluid class="no-padding">
    <h2 class="header" v-if="currentOrder">
      Заказ № {{ currentOrder.id }}
    </h2>

    <v-row v-if="currentOrder">
      <v-col cols="12" md="6">
        <v-row class="order-data">
          <v-col cols="12" md="12" class="no-padding">
            <v-select
                v-if="form"
                v-model="form.statusId"
                :items="orderStatusList"
                item-value='id'
                item-text='title'
                label="Статус заказа"
                required
            ></v-select>
          </v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Имя</v-col>
          <v-col cols="12" md="8">{{ currentOrder.name }}</v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Телефон</v-col>
          <v-col cols="12" md="8">{{ currentOrder.phone }}</v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Сумма</v-col>
          <v-col cols="12" md="8">{{ currentOrder.sum }}грн</v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Доставка</v-col>
          <v-col cols="12" md="8">{{ currentOrder.delivery.title.ru }}</v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Адрес</v-col>
          <v-col cols="12" md="8">{{ currentOrder.address ? currentOrder.address : '-----' }}</v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Индекс</v-col>
          <v-col cols="12" md="8">{{ currentOrder.zip ? currentOrder.zip : '-----' }}</v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Оплата</v-col>
          <v-col cols="12" md="8">{{ currentOrder.payType.title.ru }}</v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Создан</v-col>
          <v-col cols="12" md="8">{{ currentOrder.createdAt }}</v-col>
        </v-row>
        <v-row class="order-data">
          <v-col cols="12" md="4">Обновлен</v-col>
          <v-col cols="12" md="8">{{ currentOrder.updatedAt }}</v-col>
          <v-col cols="12" md="12" class="no-padding">
            <v-textarea
                v-if="form"
                label="Заметки"
                v-model="form.note"
            ></v-textarea>
          </v-col>
          <v-col cols="12" md="12">
            <v-btn
                color="success"
                class="mr-12"
                @click.prevent="updateOrderData()">
              Сохранить
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="6">
        <v-card v-for="(orderItem, orderItemIndex) in currentOrder.items"
                :key="orderItemIndex"
                class="product-cart">
          <v-row class="no-padding">
            <v-col cols="12" md="2" class="no-padding">
              <v-img
                  style="margin: 5px"
                  height="100"
                  width="100"
                  :src="orderItem.product.images && orderItem.product.images.length && orderItem.product.images[0].url
                              ? $config.apiUrl + orderItem.product.images[0].url : ''"
              ></v-img>
            </v-col>
            <v-col cols="12" md="7" class="no-padding">
              <h4>
                {{ orderItem.product.title.ru }}
              </h4>
            </v-col>
            <v-col cols="12" md="3" class="no-padding">
              <h4>
                {{ orderItem.price }} * {{ orderItem.count }} = {{ orderItem.price * orderItem.count }} грн
              </h4>
              <v-chip label color="#04b1b5">
                {{ orderItem.size.size }}
              </v-chip>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import OrderForm from "../../dto/forms/OrderForm";

export default {
  name: "ManageOrder",
  data() {
    return {
      form: null,
    }
  },
  async created() {
    if (this.$route.params.id) {
      await this.fetchOrder({id: this.$route.params.id})
      this.form = new OrderForm(this.currentOrder)
    } else {
      this.form = new OrderForm({})
    }

    if (!this.orderStatusList.length) {
      await this.fetchOrderStatusList()
    }
  },
  computed: {
    ...mapGetters({
      currentOrder: 'order/getOrder',
      orderStatusList: 'order-status/getOrderStatusSelectList'
    })
  },
  methods: {
    ...mapActions({
      fetchOrder: 'order/fetchOrder',
      fetchOrderStatusList: 'order-status/fetchOrderStatusSelectList',
      updateOrder: 'order/updateOrder',
    }),
    async updateOrderData() {
      await this.updateOrder(this.form);
    }
  }
}
</script>

<style scoped lang="scss">
h2 {
  margin-bottom: 35px;
}

.order-data {
  border-bottom: 1px solid darkgray;
}

.product-cart {
  margin-bottom: 15px;
  border-bottom: 1px solid darkgray;
}
</style>