<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Список Заказов
    </h2>

    <v-row>
      <v-col cols="12" md="4">
        <v-text-field
            :value="orderFilter.search"
            label="Поиск"
            @change="updateByFilter('search', $event)"
        ></v-text-field>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="orderStatusList"
            :value="orderFilter.statusId"
            item-value='id'
            item-text='title'
            label="Статус заказа"
            @change="updateByFilter('statusId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="deliveriesList"
            :value="orderFilter.deliveryId"
            item-value='id'
            item-text='title.ru'
            label="Тип доставки"
            @change="updateByFilter('deliveryId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="payTypeList"
            :value="orderFilter.payTypeId"
            item-value='id'
            item-text='title.ru'
            label="Тип Оплаты"
            @change="updateByFilter('payTypeId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-btn @click="clearFilter">Очистить</v-btn>
      </v-col>
    </v-row>

    <v-divider></v-divider>

    <v-data-table
        :headers="headers"
        :items="ordersList"
        :items-per-page="20"
        class="elevation-1"
        :loading="sending"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
      <template v-slot:item.product="{ item }">
        <v-card v-for="(orderItem, orderItemIndex) in item.items"
                :key="orderItemIndex"
                class="product-cart">
          <v-row class="no-padding">
            <v-col cols="12" md="6" class="no-padding">
              <v-img
                  style="margin: 5px"
                  height="80"
                  width="80"
                  :src="orderItem.product.images && orderItem.product.images.length && orderItem.product.images[0].url
                              ? $config.apiUrl + orderItem.product.images[0].url : ''"
              ></v-img>
            </v-col>
            <v-col cols="12" md="6" class="no-padding">
              <h4>
                {{ orderItem.price }} * {{ orderItem.count }} = {{ orderItem.price * orderItem.count }} грн
              </h4>
              <v-chip label color="#04b1b5">
                {{ orderItem.size.size }}
              </v-chip>
            </v-col>
          </v-row>
        </v-card>

      </template>

      <template v-slot:item.actions="{ item }">
        <router-link :to="{name: 'manage-orders', params: { id: item.id }}">
          <v-icon middle color="black" class="pointer">
            mdi-cog
          </v-icon>
        </router-link>
      </template>
    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>

  </v-container>
</template>

<script>
import Pagination from "../../components/Pagination";
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
  name: "OrderList",
  components: {Pagination},
  data() {
    return {
      sending: false,
      headers: [
        {
          text: '№пп',
          align: 'start',
          sortable: false,
          value: 'id',
          width: '5%'
        },
        {text: 'Имя', value: 'name', sortable: false, width: '10%'},
        {text: 'Телефон', value: 'phone', sortable: false, width: '10%'},
        {text: 'Сумма', value: 'sum', sortable: false, width: '5%'},
        {text: 'Статус', value: 'status.title', sortable: false, width: '5%'},
        {text: 'Доставка', value: 'delivery.title.ru', sortable: false, width: '10%'},
        {text: 'Оплата', value: 'payType.title.ru', sortable: false, width: '10%'},
        {text: 'Продукт', value: 'product', sortable: false, width: '20%'},
        {text: 'Создан', value: 'createdAt', sortable: false, width: '10%'},
        {text: 'Обновлен', value: 'updatedAt', sortable: false, width: '10%'},
        {text: '', value: 'actions', sortable: false, width: '5%'},
      ],
    }
  },
  async created() {
    this.sending = true;
    await this.fetchOrdersList()
    await this.fetchPayTypesList()
    await this.fetchDeliveriesList()
    await this.fetchOrderStatusList()
    this.sending = false;
  },
  computed: {
    ...mapGetters({
      ordersList: 'order/getOrdersList',
      pagination: 'order/getOrdersPagination',
      orderFilter: 'filters/getOrderFilter',
      orderStatusList: 'order-status/getOrderStatusSelectList',
      deliveriesList: 'delivery/getDeliveriesSelectList',
      payTypeList: 'pay-type/getPayTypesSelectList',
    })
  },
  methods: {
    ...mapMutations({
      setOrderFilter: 'filters/SET_ORDER_FILTER'
    }),
    ...mapActions({
      fetchOrdersList: 'order/fetchOrdersList',
      fetchOrderStatusList: 'order-status/fetchOrderStatusSelectList',
      fetchDeliveriesList: 'delivery/fetchDeliveriesSelectList',
      fetchPayTypesList: 'pay-type/fetchPayTypesSelectList',
    }),
    async changePage(page) {
      await this.fetchOrdersList({page})
    },
    async updateByFilter(property, $event) {
      this.sending = true;

      let filter = {...this.orderFilter}
      filter[property] = $event
      this.setOrderFilter(filter)
      filter.page = this.pagination.currentPage

      await this.fetchOrdersList(filter)

      this.sending = false;
    },
    async clearFilter() {
      this.sending = true;

      let filter = {
        search: null,
        statusId: null,
        deliveryId: null,
        payTypeId: null,
      }
      this.setOrderFilter(filter)
      filter.page = 1

      await this.fetchOrdersList(filter)
      this.sending = false;
    }
  }
}
</script>

<style scoped lang="scss">
.product-cart {
  margin: 5px;
}
</style>