<template>
  <v-app>
    <nuxt/>
  </v-app>
</template>

<script>

export default {
  name: 'defaultLayout',
};
</script>

<style lang="scss">
.app-wrapper {
  min-height: 100vh;
}

.page-container {
  min-height: calc(100vh - 64px);
}

@media screen and (max-width: 600px) {
  .md-layout{
    padding: 5px !important;
  }
}
</style>

