<template>
  <v-app id="jelly-top-admin">
    <sidebar></sidebar>
    <v-main>
      <v-container
          class="py-8 px-6"
          fluid
      >
        <nuxt/>
        <notifications group="dashboard" />

      </v-container>
    </v-main>
  </v-app>
</template>

<script>

import Sidebar from "../components/Sidebar";

export default {
  name: 'defaultLayout',
  components: {Sidebar},
};
</script>

<style lang="scss">
.app-wrapper {
  min-height: 100vh;
}

.page-container {
  min-height: calc(100vh - 64px);
}

@media screen and (max-width: 600px) {
  .md-layout {
    padding: 5px !important;
  }
}
</style>

