<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Редактирование / Создание товара
    </h2>


    <v-form ref="form" lazy-validation v-if="form">
      <v-container fluid class="no-padding">
        <v-row>
          <v-col cols="12" md="8">
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                    v-model="form.title.ua"
                    :rules="[form.rules().required]"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title.ua'] : ''"
                    label="Название (укр)"
                    required
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                    v-model="form.title.ru"
                    :rules="[form.rules().required]"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['title.ru'] : ''"
                    label="Название (рус)"
                    required
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="12">
                <v-text-field
                    v-model="form.slug"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['slug'] : ''"
                    label="Ссылка (на англ без пробелов)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-textarea
                    name="input-12-1"
                    label="Описание (укр)"
                    v-model="form.description.ua"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['description.ua'] : ''"
                    hint="Введите текст ...."
                ></v-textarea>
              </v-col>
              <v-col cols="12" md="6">
                <v-textarea
                    name="input-12-1"
                    label="Описание (рус)"
                    v-model="form.description.ru"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['description.ru'] : ''"
                    hint="Введите текст ...."
                ></v-textarea>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                    v-model="form.metaKey.ua"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['metaKey.ua'] : ''"
                    label="Meta key (SEO титул, укр)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                    v-model="form.metaKey.ru"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['metaKey.ru'] : ''"
                    label="Meta key (SEO титул, рус)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-textarea
                    v-model="form.metaDescription.ua"
                    name="input-7-1"
                    label="SEO Описание (укр)"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['metaDescription.ua'] : ''"
                    hint="Введите текст ...."
                ></v-textarea>
              </v-col>
              <v-col cols="12" md="6">
                <v-textarea
                    v-model="form.metaDescription.ru"
                    name="input-7-1"
                    label="SEO Описание (рус)"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['metaDescription.ru'] : ''"
                    hint="Введите текст ...."
                ></v-textarea>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                    v-model="form.purchasePrice"
                    type="number"
                    :rules="[form.rules().required]"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.purchasePrice : ''"
                    label="Закупочная цена"
                    required
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                    v-model="form.salePrice"
                    type="number"
                    :rules="[form.rules().required]"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.salePrice : ''"
                    label="Цена"
                    required
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="12">
                <v-checkbox
                    v-model="form.inStock"
                    label="Товар в наличии"
                    :value="form.inStock"
                ></v-checkbox>
              </v-col>
              <v-col cols="12" md="12" v-if="product && product.id">
                <v-file-input
                    v-model="fileUploadForm.file"
                    accept="image/*"
                    label="Загрузка изображения"
                    @change="uploadProductImage"
                ></v-file-input>
                <span v-if="!form.images.length" class="color-red">Иззображения не загружены</span>

                <v-container fluid class="no-padding">
                  <v-row>
                    <v-col cols="12" md="4" v-for="(img, index) in form.images" :key="index" class="bordered">
                      <v-img v-if="form.images.length"
                             max-height="350"
                             max-width="350"
                             :src="$config.apiUrl + img">
                      </v-img>
                      <v-divider></v-divider>
                      <v-icon middle color="black" class="pointer" @click="removeProductImage(index, img)">
                        mdi-delete
                      </v-icon>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col cols="12" md="4">
            <v-row>
              <v-col cols="12" md="12">
                <v-text-field
                    v-model="form.priority"
                    type="number"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.priority : ''"
                    label="Приоритет"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="12">
                <v-select
                    v-model="form.brandId"
                    :items="brandsList"
                    :rules="[form.rules().required]"
                    item-value='id'
                    item-text='title.ru'
                    label="Производитель"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.brandId : ''"
                    required
                ></v-select>
              </v-col>
              <v-col cols="12" md="12">
                <v-select
                    v-model="form.typeId"
                    :items="typesList"
                    :rules="[form.rules().required]"
                    item-value='id'
                    item-text='title.ru'
                    label="Тип обуви"
                    :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.typeId : ''"
                    required
                ></v-select>
              </v-col>
              <v-col cols="12" md="12">
                <h3>Пол</h3>
                <v-row>
                  <v-col cols="6" md="4" v-for="(gender, genderIndex) in gendersList" :key="genderIndex">
                    <v-checkbox
                        v-model="form.gendersIds"
                        :label="gender.title.ru"
                        :value="gender.id"
                        :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.gendersIds : ''"
                        hide-details
                    >
                    </v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12">
                <h3>Цвета</h3>
                <v-row>
                  <v-col cols="6" md="4" v-for="(color, colorIndex) in colorsList"
                         :key="colorIndex"
                         style="overflow: hidden">
                    <v-checkbox
                        v-model="form.colorsIds"
                        :color="color.hex"
                        :label="color.title.ru"
                        :value="color.id"
                        :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.colorsIds : ''"
                        hide-details
                    >
                      <template v-slot:label>
                        <v-chip :color="color.hex">
                          {{ color.title.ru }}
                        </v-chip>
                      </template>
                    </v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12">
                <h3>Размеры</h3>
                <v-row>
                  <v-col cols="4" md="3" v-for="(size, sizeIndex) in sizesList" :key="sizeIndex">
                    <v-checkbox
                        v-model="form.sizesIds"
                        :label="size.size.toString()"
                        :value="size.id"
                        :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.sizesIds : ''"
                        hide-details
                    ></v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12">
                <h3>Сезоны</h3>
                <v-row>
                  <v-col cols="6" md="3" v-for="(seasons, seasonsIndex) in seasonsList" :key="seasonsIndex">
                    <v-checkbox
                        v-model="form.seasonsIds"
                        :label="seasons.title.ru"
                        :value="seasons.id"
                        :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.seasonsIds : ''"
                        hide-details
                    ></v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12">
                <h3>Способы доставки</h3>
                <v-row>
                  <v-col cols="6" md="6" v-for="(delivery, deliveryIndex) in deliveryList" :key="deliveryIndex">
                    <v-checkbox
                        v-model="form.deliveryIds"
                        :label="delivery.title.ru"
                        :value="delivery.id"
                        :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.deliveryIds : ''"
                        hide-details
                    ></v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12">
                <h3>Способы оплаты</h3>
                <v-row>
                  <v-col cols="6" md="6" v-for="(payType, payTypeIndex) in payTypesList" :key="payTypeIndex">
                    <v-checkbox
                        v-model="form.payTypesIds"
                        :label="payType.title.ru"
                        :value="payType.id"
                        :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.payTypesIds : ''"
                        hide-details
                    ></v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="12">
            <v-divider></v-divider>

            <v-btn
                color="primary"
                text
            >
              Отмена
            </v-btn>

            <v-btn
                color="success"
                :disabled="sending"
                class="mr-4 float-right"
                @click="validateForm"
            >
              Сохранить
            </v-btn>

          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import ProductForm from "../../dto/forms/ProductForm";
import FileUploadForm from "../../dto/forms/FileUploadForm";

export default {
  name: "ManageProduct",
  data: () => {
    return {
      form: null,
      fileUploadForm: new FileUploadForm({}),
      sending: false,
    }
  },
  async created() {
    if (this.$route.params.id) {
      await this.fetchProduct({id: this.$route.params.id})
      this.form = new ProductForm(this.product)
    } else {
      this.form = new ProductForm({})
    }

    if (!this.brandsList.length) {
      this.fetchBrandsList()
    }
    if (!this.seasonsList.length) {
      this.fetchSeasonsList()
    }
    if (!this.colorsList.length) {
      this.fetchColorsList()
    }
    if (!this.typesList.length) {
      this.fetchTypesList()
    }
    if (!this.sizesList.length) {
      this.fetchSizesList()
    }
    if (!this.deliveryList.length) {
      this.fetchDeliveriesList()
    }
    if (!this.payTypesList.length) {
      this.fetchPayTypesList()
    }
    if (!this.gendersList.length) {
      this.fetchGendersList()
    }
  },
  computed: {
    ...mapGetters({
      brandsList: 'brand/getBrandsSelectList',
      seasonsList: 'season/getSeasonsSelectList',
      colorsList: 'color/getColorsSelectList',
      typesList: 'type/getTypesSelectList',
      sizesList: 'size/getSizesSelectList',
      deliveryList: 'delivery/getDeliveriesSelectList',
      payTypesList: 'pay-type/getPayTypesSelectList',
      gendersList: 'gender/getGendersSelectList',
      product: 'product/getProduct',
      httpErrors: 'validation/errors',
    })
  },
  methods: {
    ...mapActions({
      fetchBrandsList: 'brand/fetchBrandsSelectList',
      fetchSeasonsList: 'season/fetchSeasonsSelectList',
      fetchColorsList: 'color/fetchColorsSelectList',
      fetchTypesList: 'type/fetchTypesSelectList',
      fetchSizesList: 'size/fetchSizesSelectList',
      fetchDeliveriesList: 'delivery/fetchDeliveriesSelectList',
      fetchPayTypesList: 'pay-type/fetchPayTypesSelectList',
      fetchProduct: 'product/fetchProduct',
      updateProduct: 'product/updateProduct',
      registerProduct: 'product/registerProduct',
      fetchGendersList: 'gender/fetchGendersSelectList',
      uploadFile: 'file/uploadFile',
      removeFile: 'file/removeFile',
    }),
    async validateForm() {
      if (this.$refs.form.validate()) {
        this.sending = true;
        await this.sendProduct();
        this.sending = false;

        if (!this.httpErrors.length) {
          // await this.fetchBrandsList();
        }
      }
    },
    async sendProduct() {
      if (this.form.id) {
        await this.updateProduct(this.form)
      } else {
        await this.registerProduct(this.form)
      }
      await this.fetchProduct({id: this.$route.params.id})
      this.form = new ProductForm(this.product)
    },
    async uploadProductImage() {
      this.fileUploadForm.group = 'product';
      this.fileUploadForm.id = this.product.id;

      await this.uploadFile(this.fileUploadForm).then((res) => {
        this.form.images.push(res.url);
      })
    },
    async removeProductImage(index, url) {
      const data = {
        group: 'product',
        id: this.product.id,
        url: url
      }
      await this.removeFile(data).then(async (res) => {
        this.form.images.splice(index, 1);
      })
    },
  },
}
</script>

<style scoped>

</style>