<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Список Товаров

      <router-link :to="{name: 'manage-products'}">
        <v-icon middle color="black" class="pointer">
          mdi-plus-circle-outline
        </v-icon>
      </router-link>
    </h2>

    <v-row>
      <v-col cols="12" md="2">
        <v-select
            :items="brandsList"
            :value="productFilter.brandId"
            item-value='id'
            item-text='title.ru'
            label="Бренд"
            multiple
            @change="updateByFilter('brandId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="typesList"
            :value="productFilter.typeId"
            item-value='id'
            item-text='title.ru'
            label="Тип обуви"
            multiple
            @change="updateByFilter('typeId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="colorsList"
            :value="productFilter.colorId"
            item-value='id'
            item-text='title.ru'
            label="Цвет"
            multiple
            @change="updateByFilter('colorId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="sizesList"
            :value="productFilter.sizeId"
            item-value='id'
            item-text='size'
            label="Размер"
            multiple
            @change="updateByFilter('sizeId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="seasonsList"
            :value="productFilter.seasonId"
            item-value='id'
            item-text='title.ru'
            label="Сезон"
            multiple
            @change="updateByFilter('seasonId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="gendersList"
            :value="productFilter.genderId"
            item-value='id'
            item-text='title.ru'
            label="Пол"
            multiple
            @change="updateByFilter('genderId', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="2">
        <v-select
            :items="inStockList"
            :value="productFilter.inStock"
            item-value='id'
            item-text='title'
            label="Наличие"
            @change="updateByFilter('inStock', $event)"
        ></v-select>
      </v-col>
      <v-col cols="12" md="4">
        <v-text-field
            :value="productFilter.search"
            label="Поиск"
            @change="updateByFilter('search', $event)"
        ></v-text-field>
      </v-col>
      <v-col cols="12" md="2">
        <v-btn @click="clearFilter">Очистить</v-btn>
      </v-col>
    </v-row>

    <v-data-table
        :headers="headers"
        :items="productList"
        :items-per-page="20"
        class="elevation-1"
        :loading="sending"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
      <template v-slot:item.images="{ item }">
        <v-img
            style="margin: 5px"
            max-height="60"
            max-width="60"
            :src="item.images.length && item.images[0].url ? $config.apiUrl + item.images[0].url : ''"
        ></v-img>
      </template>

      <template v-slot:item.priority="{ item }">
        <v-text-field
            :value="item.priority"
            type="number"
            label="Приоритет"
            @change="updateProductPriority(item, $event)"
        ></v-text-field>
      </template>

      <template v-slot:item.inStock="{ item }">
        <v-checkbox
            v-model="item.inStock"
            v-bind:false-value="false"
            v-bind:true-value="true"
            label="Наличие"
            @change="updateProductStock(item, $event)"
        ></v-checkbox>
      </template>

      <template v-slot:item.actions="{ item }">
        <router-link :to="{name: 'manage-products', params: { id: item.id }}">
          <v-icon middle color="black" class="pointer">
            mdi-cog
          </v-icon>
        </router-link>

        <v-icon middle color="black" class="pointer" @click="removeProduct(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>

  </v-container>
</template>

<script>
import Pagination from "../../components/Pagination";
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
  name: "ProductList",
  components: {Pagination},
  async created() {
    this.sending = true;

    await this.fetchProductsList(this.productFilter);
    await this.fetchBrandsList();
    await this.fetchTypesList();
    await this.fetchColorsList();
    await this.fetchSizesList();
    await this.fetchSeasonsList();
    await this.fetchGendersList();

    this.sending = false;
  },
  data: () => ({
    sending: false,
    headers: [
      {
        text: '№пп',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      {text: 'Изображение', value: 'images', sortable: false},
      {text: 'Название рус', value: 'title.ru', sortable: false},
      {text: 'Создан', value: 'createdAt', sortable: false},
      {text: 'Обновлен', value: 'updatedAt', sortable: false},
      {text: 'Приоритет', value: 'priority', sortable: false},
      {text: 'Наличие', value: 'inStock', sortable: false},
      {text: '', value: 'actions', sortable: false},
    ],
    inStockList: [
      {id: null, title: 'Все'},
      {id: 0, title: 'Нет в наличии'},
      {id: 1, title: 'В наличии'}
    ]
  }),
  computed: {
    ...mapGetters({
      productFilter: 'filters/getProductFilter',
      productList: 'product/getProductsList',
      pagination: 'product/getProductsPagination',
      brandsList: 'brand/getBrandsSelectList',
      typesList: 'type/getTypesSelectList',
      colorsList: 'color/getColorsSelectList',
      sizesList: 'size/getSizesSelectList',
      seasonsList: 'season/getSeasonsSelectList',
      gendersList: 'gender/getGendersSelectList',
    }),
  },
  methods: {
    ...mapMutations({
      setProductFilter: 'filters/SET_PRODUCT_FILTER',
      setProduct: 'product/SET_PRODUCT'
    }),
    ...mapActions({
      fetchProductsList: 'product/fetchProductsList',
      updateProductsPriority: 'product/updateProductPriority',
      updateProductsStock: 'product/updateProductStock',
      deleteProduct: 'product/deleteProduct',
      fetchBrandsList: 'brand/fetchBrandsSelectList',
      fetchTypesList: 'type/fetchTypesSelectList',
      fetchColorsList: 'color/fetchColorsSelectList',
      fetchSizesList: 'size/fetchSizesSelectList',
      fetchSeasonsList: 'season/fetchSeasonsSelectList',
      fetchGendersList: 'gender/fetchGendersSelectList',
    }),
    async updateProductPriority(product, event) {
      await this.updateProductsPriority({id: product.id, priority: event});
      await this.fetchProductsList(this.productFilter)
    },
    async updateProductStock(product, event) {
      await this.updateProductsStock({id: product.id, inStock: event});
      await this.fetchProductsList(this.productFilter)
    },
    async changePage(page) {
      await this.fetchProductsList({page})
    },
    async removeProduct(item = {}) {
      this.$confirm('Вы действительно хотите удалить запись?').then(async res => {
        if (res) {
          await this.deleteProduct(item);
          await this.fetchProductsList();
        }
      })
    },
    async updateByFilter(property, $event) {
      this.sending = true;

      let filter = {...this.productFilter}
      filter[property] = $event
      this.setProductFilter(filter)
      filter.page = this.pagination.currentPage

      await this.fetchProductsList(filter)

      this.sending = false;
    },
    async clearFilter() {
      this.sending = true;

      let filter = {
        search: null,
        brandId: null,
        typeId: null,
        colorId: null,
        sizeId: null,
        seasonId: null,
        genderId: null,
      }
      this.setProductFilter(filter)
      filter.page = 1

      await this.fetchProductsList(filter)
      this.sending = false;
    }
  }
}
</script>

<style scoped>

</style>