<template>
  <div class="sign-in-form">
    <v-container>
      <v-row justify="space-between">
        <v-col cols="12" md="4" offset="4">
          <h2 class="text-center">Jelly Top</h2>
        </v-col>
        <v-col cols="12" md="4" offset="4">
          <v-form ref="form" lazy-validation>
            <v-text-field
                v-model="form.email"
                :rules="[form.rules().emailRules, form.rules().required]"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.email : ''"
                label="E-mail"
                required
            ></v-text-field>

            <v-text-field
                v-model="form.password"
                :rules="[form.rules().required]"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields.password : ''"
                type="password"
                label="Пароль"
                required
            ></v-text-field>

            <span class="color-red" v-if="httpErrors && httpErrors.message">
              {{ httpErrors.message }}
            </span>
            <v-btn
                color="success"
                :disabled="sending"
                class="mr-4"
                @click="validateSignIn"
            >
              Вход
            </v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import {validationMixin} from "vuelidate";
import {mapActions, mapGetters} from "vuex";
import LoginForm from "../../dto/forms/LoginForm";
import {FormService} from "../../services/FormService";

export default {
  name: "SignIn",
  layout: "auth",
  mixins: [validationMixin],
  data: () => ({
    form: new LoginForm(),
    sending: false,
    sended: false,
  }),
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
    }),
  },
  validations: function () {
    return this.form.validation()
  },
  methods: {
    ...mapActions({
      clearHttpErrors: 'validation/clearErrors',
      login: 'authorization/login',
    }),
    getValidationClass(fieldName) {
      return FormService.getValidationClass(this.$v.form, this.httpErrors, fieldName);
    },
    clearForm() {
      this.$v.$reset();
      this.clearHttpErrors();

      this.form.reset();
    },
    signIn() {
      this.sending = true;
      this.clearHttpErrors();

      this.login(this.form).then(
          response => {
            if(response) {
              this.sended = true;
              this.$router.push('/')
            }
          }
      );
      this.sending = false;
    },
    validateSignIn() {
      if (this.$refs.form.validate()) {
        this.signIn();
      }
    },
  }
}
</script>

<style scoped lang="scss">
.sign-in-form {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  form {
    button {
      width: 100%;
    }
  }
}
</style>