$burger-line-width: 35px;
$burger-line-height: 3px;
$burger-line-radius: 3px;
$burger-line-margin-v: 7px;
$transform-y: $burger-line-margin-v + $burger-line-height;

.burger {
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 9999;
  margin-right: 20px;
  @media screen and (max-width: 1023px) {
    display: block;
  }

  .line {
    position: relative;
    margin: $burger-line-margin-v 0;
    width: $burger-line-width;
    height: $burger-line-height;
    border-radius: $burger-line-radius;
    background-color: #00afb1;
    transition: 240ms;
    will-change: transform;
    perspective: 100px;
  }

  &.active,
  &.checked {
    .line {
      &:nth-child(2) {
        transform: scale(0);
      }

      &:nth-child(1) {
        transform: translateY($transform-y) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translateY(-$transform-y) rotate(-45deg);
      }
    }
  }
}

