html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #16171b;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

//restyle
.v-list-group--sub-group .v-list-group__header {
  padding-left: 10px !important;
}

.v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > .v-list-item {
  padding-left: 50px !important;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none !important;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

//colors
.color-red {
  color: red !important;

  i {
    color: red !important;
  }
}

.color-green {
  color: green !important;

  i {
    color: green !important;
  }
}

.color-white {
  color: white !important;

  i {
    color: white !important;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.bordered {
  border: 1px solid darkgray;
}

// global
.page {
  margin-top: 142px !important;
}
@media screen and (max-width: 1023px) {
  .page {
    margin-top: 74px !important;
  }
}

.container {
  padding: 0 !important;
}

@import "burger";
