<template>
  <v-container fluid class="no-padding" v-if="staticPage">
    <h2 class="header">
      Редактирование страницы "{{ staticPage.pageName }}"
    </h2>

    <hr/>

    <h4>Редактирование контента по русски</h4>
    <VueEditor v-if="form" :editorOptions="editorSettings" v-model="form.content.ru"></VueEditor>

    <h4>Редактирование контента по украински</h4>
    <VueEditor v-if="form" :editorOptions="editorSettings" v-model="form.content.ua"></VueEditor>

    <v-btn
        color="success"
        class="mr-4 float-right"
        @click="updatePage"
    >
      Сохранить
    </v-btn>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import StaticPageForm from "@/dto/forms/StaticPageForm";

export default {
  name: "EditStaticPage",
  data() {
    return {
      content: '',
      editorSettings: {
        modules: {
          imageDrop: true,
          imageResize: {},
        }
      },
      form: null
    }
  },
  async created() {
    if (this.$route.params.id) {
      await this.fetchStaticPage({id: this.$route.params.id})
      this.form = new StaticPageForm(this.staticPage)
    } else {
      this.form = new StaticPageForm({})
    }
  },
  computed: {
    ...mapGetters({
      staticPage: 'static-pages/getStaticPage'
    })
  },
  methods: {
    ...mapActions({
      fetchStaticPage: 'static-pages/fetchStaticPage',
      updateStaticPage: 'static-pages/updateStaticPage'
    }),
    async updatePage() {
      this.updateStaticPage(this.form)
    }
  }
}
</script>

<style scoped lang="scss">
.quill-editor {
  height: 700px;
  overflow-y: auto;
}
</style>
