<template>
  <v-container fluid class="no-padding" v-if="form && fileUploadForm">
    <h2 class="header">
      Редактирование банера главное страницы
    </h2>

    <img :src="$config.apiUrl + form.link" class="exist-image" alt=""/>

    <v-form ref="form" lazy-validation>
      <v-container class="no-padding">
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
                v-model="form.text.ua"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['text.ua'] : ''"
                label="Рекламный текст (укр)"
                required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
                v-model="form.text.ru"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['text.ru'] : ''"
                label="Рекламный текст (рус)"
                required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6">
            <v-file-input
                v-model="fileUploadForm.file"
                accept="image/*"
                label="Загрузка изображения"
                @change="uploadFile"
            ></v-file-input>
            <span v-if="!form.link" class="color-red">Изображение не загружено</span>
          </v-col>
          <v-col cols="12" md="12">

            <router-link to="slider">
              <v-btn
                  color="primary"
                  text
              >
                Отмена
              </v-btn>
            </router-link>

            <v-btn
                color="success"
                :disabled="sending"
                class="mr-4 float-right"
                @click="validateForm"
            >
              Сохранить
            </v-btn>

          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import SliderForm from "@/dto/forms/SliderForm";
import FileUploadForm from "@/dto/forms/FileUploadForm";

export default {
  name: "EditSlider",
  data() {
    return {
      form: null,
      fileUploadForm: null,
      sending: false,
    }
  },
  async created() {
    let id = this.$route.params.id
    if (id) {
      await this.fetchSlider({id})
      this.form = new SliderForm(this.slider)
    } else {
      this.form = new SliderForm({})
    }
    this.fileUploadForm = new FileUploadForm({group: 'slider'})
  },
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      slider: 'slider/getSlider'
    })
  },
  methods: {
    ...mapActions({
      fetchSlider: 'slider/fetchSlider',
      registerSlider: 'slider/registerSlider',
      updateSlider: 'slider/updateSlider',
      uploadFileForm: 'file/uploadFile'
    }),
    async uploadFile() {
      await this.uploadFileForm(this.fileUploadForm).then((res) => {
        this.form.link = res.url;
      })
    },
    async validateForm() {
      if (this.$refs.form.validate()) {
        this.sending = true;
        await this.sendSlider();
        this.sending = false;

        if (!this.httpErrors.length) {
          this.$router.push('/slider');
        }
      }
    },
    async sendSlider() {
      if (this.form.id) {
        await this.updateSlider(this.form)
      } else {
        await this.registerSlider(this.form)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.exist-image {
  max-height: 350px;
  width: auto;
}
</style>