<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Настройка слайдера главной страницы

      <router-link :to="{name: 'slider-edit'}">
        <v-icon middle color="black" class="pointer">
          mdi-plus-circle-outline
        </v-icon>
      </router-link>
    </h2>

    <v-data-table
        :headers="headers"
        :items="slidersList"
        :items-per-page="20"
        class="elevation-1"
        :loading="sending"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
      <template v-slot:item.link="{ item }">
        <v-img
            style="margin: 5px"
            max-width="160"
            :src="$config.apiUrl + item.link"
        ></v-img>
      </template>

      <template v-slot:item.text="{ item }">
        <p>RU:: {{ item.text.ru }}</p>
        <p>UA:: {{ item.text.ua }}</p>
      </template>

      <template v-slot:item.actions="{ item }">
        <router-link :to="{name: 'slider-edit', params: { id: item.id }}">
          <v-icon middle color="black" class="pointer">
            mdi-cog
          </v-icon>
        </router-link>
        <v-icon middle color="black" class="pointer" @click="deleteSlider(item)">
          mdi-delete
        </v-icon>
      </template>

    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Pagination from "../../components/Pagination";

export default {
  name: "Slider",
  components: {Pagination},
  data: () => {
    return {
      dialog: false,
      form: null,
      sending: false,
      headers: [
        {
          text: '№пп',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        {text: 'Изображение', value: 'link', sortable: false},
        {text: 'Текст', value: 'text', sortable: false},
        {text: 'Создан', value: 'createdAt', sortable: false},
        {text: 'Обновлен', value: 'updatedAt', sortable: false},
        {text: '', value: 'actions', sortable: false},
      ],
    }
  },
  async created() {
    this.sending = true;
    await this.fetchSlidersList()
    this.sending = false;
  },
  computed: {
    ...mapGetters({
      slidersList: 'slider/getSlidersList',
      pagination: 'slider/getSliderPagination',
    })
  },
  methods: {
    ...mapActions({
      fetchSlidersList: 'slider/fetchSlidersList',
      removeSlider: 'slider/deleteSlider'
    }),
    async changePage(page) {
      this.sending = true;
      await this.fetchSizesList({page})
      this.sending = false;
    },
    deleteSlider(item) {
      this.$confirm('Вы действительно хотите удалить запись?').then(async res => {
        if (res) {
          await this.removeSlider(item);
          await this.fetchSlidersList();
        }
      })
    },
  }
}
</script>

<style scoped>

</style>