<template>
  <v-container fluid class="no-padding">
    <h2 class="header">
      Настройка слайдера главной страницы
    </h2>

    <v-data-table
        :headers="headers"
        :items="staticPagesList"
        :items-per-page="20"
        class="elevation-1"
        :loading="sending"
        loading-text="Загружаю ...."
        :hide-default-footer="true"
    >
      <template v-slot:item.actions="{ item }">
        <router-link :to="{name: 'static-pages-edit', params: { id: item.id }}">
          <v-icon middle color="black" class="pointer">
            mdi-cog
          </v-icon>
        </router-link>
      </template>

    </v-data-table>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>

  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Pagination from "../../components/Pagination";

export default {
  name: "StaticPages",
  components: {Pagination},
  data: () => {
    return {
      dialog: false,
      form: null,
      sending: false,
      headers: [
        {
          text: '№пп',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        {text: 'Название', value: 'pageName', sortable: false},
        {text: 'Создан', value: 'createdAt', sortable: false},
        {text: 'Обновлен', value: 'updatedAt', sortable: false},
        {text: '', value: 'actions', sortable: false},
      ],
    }
  },
  async created() {
    this.sending = true;
    await this.fetchStaticPagesList()
    this.sending = false;
  },
  computed: {
    ...mapGetters({
      staticPagesList: 'static-pages/getStaticPagesList',
      pagination: 'slider/getSliderPagination',
    })
  },
  methods: {
    ...mapActions({
      fetchStaticPagesList: 'static-pages/fetchStaticPagesList'
    }),
    async changePage(page) {
      this.sending = true;
      await this.fetchStaticPagesList({page})
      this.sending = false;
    },
    openSettings() {
    }
  }
}
</script>

<style scoped>

</style>