<template>
  <div class="md-layout">
    <div class="md-layout-item  md-size-50 md-small-size-50">
      <md-card>
        <md-card-header>
          <h3>Manage user</h3>
        </md-card-header>
        <form novalidate @submit.prevent="validateForm">
          <md-card-content>
            <div class="md-layout md-gutter modal-form">

              <div class="md-layout-item md-size-100 md-small-size-100">
                <md-field :class="getValidationClass('email')">
                  <label for="email">Email</label>
                  <md-input name="email" id="email" v-model="form.email" :disabled="sending"/>
                  <span class="md-error">
                    <span v-if="!$v.form.email.required">Field "email" is required</span>
                    <span v-if="httpErrors.fields && httpErrors.fields.email">
                        {{ httpErrors.fields.email }}
                    </span>
                </span>
                </md-field>
              </div>

              <div class="md-layout-item md-size-100 md-small-size-100">
                <md-field :class="getValidationClass('name')">
                  <label for="name">Name</label>
                  <md-input name="name" id="name" v-model="form.name" :disabled="sending"/>
                  <span class="md-error">
                    <span v-if="!$v.form.name.required">Field "name" is required</span>
                    <span v-if="httpErrors.fields && httpErrors.fields.name">
                        {{ httpErrors.fields.name }}
                    </span>
                  </span>
                </md-field>
              </div>

              <div class="md-layout-item md-size-100 md-small-size-100">
                <div class="input" :class="getValidationClass('isAdmin')">
                  <md-checkbox name="isAdmin" id="isAdmin" v-model="form.isAdmin" :disabled="sending">Is Admin
                  </md-checkbox>
                </div>
                <span class="md-error">
                    <span v-if="!$v.form.isAdmin.required">Field "Is Admin" is required</span>
                    <span v-if="httpErrors.fields && httpErrors.fields.isAdmin">
                        {{ httpErrors.fields.isAdmin }}
                    </span>
                  </span>
              </div>

              <md-button type="submit" class="md-primary submit-button" :disabled="sending">Send</md-button>
            </div>
          </md-card-content>

          <md-progress-bar md-mode="indeterminate" v-if="sending"/>
        </form>
      </md-card>
    </div>

    <div class="md-layout-item  md-size-50 md-small-size-50">
      <md-card>
        <md-card-header>
          <h3>Manage user permissions</h3>
        </md-card-header>
        <md-card-content>
          <div class="input" v-for="(permission, index) in userPermissions" :key="index">
            <md-checkbox id="isAdmin" v-model="permission.access">
              {{ permission.service.title }}
            </md-checkbox>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import {validationMixin} from "vuelidate";
import {mapActions, mapGetters} from "vuex";
import {FormService} from "../../services/FormService";
import UserForm from "../../dto/forms/UserForm";
import Sidebar from "../../components/Sidebar";

export default {
  name: "ManageUsers",
  components: {Sidebar},
  mixins: [validationMixin],
  async created() {
    await this.fetchUser({id: this.$route.params.id})
    await this.fetchUserPermissionsList({id: this.user.id})
    this.form = new UserForm(this.user);
  },
  data: () => ({
    form: new UserForm(),
    sending: false,
  }),
  validations: function () {
    return this.form.validation()
  },
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      user: 'user/getUser',
      userPermissions: 'user/getUserPermissions'
    }),
  },
  methods: {
    ...mapActions({
      clearHttpErrors: 'validation/clearErrors',
      fetchUser: 'user/fetchUser',
      fetchUserPermissionsList: 'user/fetchUserPermissionsList',
      registerUser: 'user/registerUser',
      updateUser: 'user/updateUser',
    }),
    serviceFormDialog() {
      this.clearForm();
    },
    getValidationClass(fieldName) {
      return FormService.getValidationClass(this.$v.form, this.httpErrors, fieldName);
    },
    clearForm() {
      this.$v.$reset();
      this.clearHttpErrors();

      this.form.reset();
    },
    sendForm() {
      this.sending = true;
      this.clearHttpErrors();

      if (this.form.id) {
        this.updateUser(this.form).then((res) => {
          this.$notify({
            group: 'dashboard',
            title: 'Success',
            text: `User "${this.user.name}" updated`,
          });
        });
      } else {
        this.registerUser(this.form).then((res) => {
          this.$notify({
            group: 'dashboard',
            title: 'Success',
            text: `User "${this.user.name}" registered`,
          });
        });
      }

      this.sending = false;
    },
    validateForm() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.sendForm();
      }
    },
  },
}
</script>

<style scoped lang="scss">
.md-card {
  padding: 15px;
}
</style>