<template>
  <div>
    <v-row class="no-padding">
      <v-col class="cart-block" cols="12" md="6">
        <h3 v-if="cartsList.length === 0">Пока ничего нет ....</h3>
        <v-card v-for="(cartItem, catIndex) in cartsList" :key="catIndex" class="cartItem">
          <v-row class="no-padding">
            <v-col cols="12" md="3" lg="3" class="no-padding">
              <router-link :to="{ name: 'product-card', params: { slug: cartItem.product.slug }}"
                           target="_blank">
                <v-avatar
                    class="ma-3"
                    size="150"
                    tile
                >
                  <v-img :src="$config.apiUrl + cartItem.productImages[0].url"></v-img>
                </v-avatar>
              </router-link>
            </v-col>
            <v-col cols="12" md="7" class="no-padding">
              <v-card-title
                  class="text-h5"
                  v-text="cartItem.product.title.ru"
              ></v-card-title>

              <div class="cart-info">
                <v-chip label outlined
                        color="#04b1b5"
                        class="chip-label">
                  {{ cartItem.size.size }}
                </v-chip>
              </div>

              <div class="product-price cart-info">
              <span class="price">
                {{ cartItem.product.salePrice }} * {{ cartItem.count }}
                = {{ cartItem.product.salePrice * cartItem.count }} грн
              </span>
              </div>
            </v-col>
            <v-col cols="12" md="2" class="no-padding">
              <div class="cart-item-action">
                <v-switch
                    v-model="form.cartItemsIds"
                    :value="cartItem.id"
                    @change="updateOrderOptions"
                ></v-switch>
              </div>

              <div class="cart-item-action">
                <v-icon middle color="red" class="pointer" @click="deleteItem(cartItem.id)">
                  mdi-delete
                </v-icon>
              </div>
            </v-col>
          </v-row>
        </v-card>

        <v-divider></v-divider>
        <h2 v-if="cartsList.length" class="text-center">К оплате: {{ selectedProductsPrice }} грн</h2>
      </v-col>

      <v-col class="cart-block no-padding" cols="12" md="6">
        <v-form ref="form" lazy-validation v-if="form.cartItemsIds.length > 0">
          <v-col cols="12">
            <v-text-field
                v-model="form.name"
                :rules="[form.rules().required]"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['name'] : ''"
                label="Имя получателя *"
                required
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
                v-model="form.phone"
                :rules="[form.rules().required]"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['phone'] : ''"
                label="Телефон *"
                required
            ></v-text-field>
          </v-col>

          <v-col cols="12" v-if="form.delivery && form.delivery !== 1">
            <v-text-field
                v-model="form.address"
                :rules="[form.rules().required]"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['address'] : ''"
                label="Адрес доставки *"
                required
            ></v-text-field>
          </v-col>

          <v-col cols="12" v-if="form.delivery === 2">
            <v-text-field
                v-model="form.zip"
                :rules="[form.rules().required]"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['zip'] : ''"
                label="Индекс"
                required
            ></v-text-field>
          </v-col>

          <v-col cols="12" v-if="form.delivery === 3">
            <v-text-field
                v-model="form.department"
                :rules="[form.rules().required]"
                :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['department'] : ''"
                label="№ Отделения"
                required
            ></v-text-field>
          </v-col>

          <v-row class="no-padding">
            <v-col v-if="deliveryTypesList.length > 0" cols="12" md="6">
              Доставка
              <v-radio-group
                  :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['delivery'] : ''"
                  v-model="form.delivery">
                <v-radio
                    v-for="(delivery, deliveryIndex) in deliveryTypesList"
                    :rules="[form.rules().required]"
                    :key="deliveryIndex"
                    :label="delivery.title.ru"
                    :value="delivery.id"
                ></v-radio>
              </v-radio-group>
            </v-col>
            <v-col v-if="payTypesList.length > 0" cols="12" md="6">
              Оплата
              <v-radio-group
                  :error-messages="httpErrors && httpErrors.fields ? httpErrors.fields['payType'] : ''"
                  v-model="form.payType">
                <v-radio
                    v-for="(payType, payTypeIndex) in payTypesList"
                    :rules="[form.rules().required]"
                    :key="payTypeIndex"
                    :label="payType.title.ru"
                    :value="payType.id"
                ></v-radio>
              </v-radio-group>
            </v-col>
            <v-col cols="12" md="12">
              <h4 v-if="payTypesList.length === 0 || deliveryTypesList.length === 0"
                  class="color-red text-center">
                Внимание!! <br/>
                Заказ невозможно сгруппировать по способу доставки/оплаты<br/>
                Пожалуйста, сгруппируйте товар иным способом или свяжитесь с менеджером для консультации
              </h4>
            </v-col>
          </v-row>

          <v-divider class="no-padding"></v-divider>

          <v-btn class="order-btn"
                 @click="validateForm"
                 :disabled="sending">
            Оформить заказ
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
    <v-dialog
        v-model="confirmDialog"
        max-width="400px"
    >
      <v-card>
        <v-card-title class="text-center">
          <h3 style="width: 100%">Спасибо за Ваш заказ</h3>
        </v-card-title>
        <v-card-text>
          <p class="text-center confirm-message">
            Наш менеджер свяжется с вами в ближайшее время для уточнения деталей заказа
          </p>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import OrderForm from "../dto/forms/OrderForm";

export default {
  name: "Cart",
  data() {
    return {
      form: new OrderForm({}),
      selectedProductsPrice: 0,
      deliveryTypesList: [],
      payTypesList: [],
      sending: false,
      confirmDialog: false,
    }
  },
  async created() {
    await this.fetchCartsList()
    await this.form.setCartItemIds(this.cartsList)
    await this.updateOrderOptions()
  },
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      cartsList: 'cart/getCartsList'
    })
  },
  methods: {
    ...mapActions({
      fetchCartsList: 'cart/fetchCartsList',
      deleteCart: 'cart/deleteCart',
      storeOrder: 'order/storeOrder'
    }),
    async updateOrderOptions() {
      this.getSelectedProductsPrice()
      this.getDeliveryTypesList()
      this.getPayTypesList()

      this.form.payType = null
      this.form.delivery = null
      this.form.zip = null
      this.form.department = null
    },
    getSelectedProductsPrice() {
      this.selectedProductsPrice = 0

      if (!this.form.cartItemsIds) {
        return
      }
      this.form.cartItemsIds.forEach(item => {
        let cartItem = this.cartsList.filter(cartItem => {
          return cartItem.id === item
        })[0]

        if (cartItem) {
          this.selectedProductsPrice += cartItem.sum
        }
      })
    },
    getDeliveryTypesList() {
      if (!this.cartsList.length || !this.form.cartItemsIds.length) {
        return [];
      }
      let selectedList = this.cartsList.filter(cartItem => {
        return this.form.cartItemsIds.indexOf(cartItem.id) >= 0
      })

      let deliveryList = [...selectedList[0].product.delivery]
      selectedList.forEach(cartItem => {
        deliveryList = deliveryList.filter(item => {
          return cartItem.product.delivery.filter(delivery => {
            return item.id === delivery.id
          }).length
        })
      })
      this.deliveryTypesList = deliveryList;
    },
    getPayTypesList() {
      if (!this.cartsList.length || !this.form.cartItemsIds.length) {
        return [];
      }
      let selectedList = this.cartsList.filter(cartItem => {
        return this.form.cartItemsIds.indexOf(cartItem.id) >= 0
      })

      let payList = [...selectedList[0].product.payTypes]
      selectedList.forEach(cartItem => {
        payList = payList.filter(item => {
          return cartItem.product.payTypes.filter(payType => {
            return item.id === payType.id
          }).length
        })
      })
      this.payTypesList = payList;
    },
    async deleteItem(id) {
      await this.deleteCart({id})
      await this.form.setCartItemIds(this.cartsList)
      await this.updateOrderOptions()
    },
    async validateForm() {
      if (this.$refs.form.validate()) {
        this.sending = true;
        await this.sendOrder();
        this.sending = false;
      }
    },
    async sendOrder() {
      await this.storeOrder(this.form).then(async res => {
        if (this.httpErrors.fields) {
          return;
        }

        await this.fetchCartsList();
        this.confirmDialog = true;

        setTimeout(async () => {
          this.confirmDialog = false;
          await this.$router.push('/');
        }, 3000)
      });
    }
  }
}
</script>

<style scoped lang="scss">
.cartItem {
  margin: 20px 0;
}

.cart-info {
  padding: 5px 16px;
}

.product-price {
  line-height: 42px;
}

.price {
  font-size: 30px;
}

.cart-item-action {
  display: flex;
  height: 50%;
}

.cart-block {
  padding: 25px;
}

.order-btn {
  width: 100%;
  padding: 25px !important;
  margin-top: 30px;
  background-color: #04b1b5 !important;
  color: #fff !important;
  font-size: 20px !important;
}

.confirm-message {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .cart-block {
    padding: 0;
  }
}
</style>