<template>
  <v-container fluid class="no-padding">
    <carousel></carousel>

    <v-row class="no-padding">
      <v-col cols="12" md="3" xl="2">
        <product-filter></product-filter>
      </v-col>
      <v-divider vertical></v-divider>
      <v-col cols="12" md="9" xl="10">
        <products-list></products-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import Carousel from "../components/Carousel";
import ProductsList from "../components/ProductsList";
import ProductFilter from "../components/ProductFilter";

export default {
  components: {
    ProductFilter,
    ProductsList,
    Carousel
  },
  jsonld() {
    return {
      '@context': 'https://schema.org',
      '@type': 'WebSite',
      'url': 'https://djelitop.com/',
    }
  }
}
</script>

<style>
</style>

