<template>
  <v-container fluid>
    <v-row class="no-padding product-card" v-if="product">

      <v-col cols="2" md="1" class="product-image-slider-container overflow-y-scroll" dir="rtl">
        <v-card class="product-image-slider"
                v-for="(image, key) in product.images"
                :key="key">
          <v-img :src="$config.apiUrl + image.url"
                 @click="toggleImage(key)"
                 class="pointer">
          </v-img>
        </v-card>
      </v-col>

      <v-divider vertical></v-divider>
      <v-col cols="10" md="5">
        <div class="product-image">
          <img :src="activeImageUrl" :alt="product.title.ru">
        </div>
      </v-col>
      <v-col cols="12" md="6">

        <h1>{{ product.type.title.ru }} "{{ product.title.ru }}" </h1>

        <div class="product-info">
          <h4>Размеры:</h4>
          <span v-if="showSizeValidation" class="color-red">Нужно выбрать размер</span>
          <div class="sizes-list">
            <v-chip label
                    color="#04b1b5"
                    :outlined="form.sizeId !== size.id"
                    class="chip-label"
                    v-for="(size, sizeIndex) in product.sizes"
                    :key="sizeIndex"
                    @click.prevent="setSize(size)">
              {{ size.size }}
            </v-chip>
          </div>
        </div>

        <div class="product-info">
          <h4>Цвет:</h4>

          <v-chip label :color="color.hex"
                  class="chip-label"
                  v-for="(color, colorIndex) in product.colors" :key="colorIndex">
          </v-chip>
        </div>

        <div class="product-info">
          <v-row>
            <v-col cols="12" md="2">
              <input type="number" v-model="form.count"
                     oninput="this.value = Math.ceil(this.value)"
                     class="product-count"
                     min="1" step="1"/>
            </v-col>
            <v-col cols="12" md="3">
              <h3 class="text-center price">{{ product.salePrice * form.count }} грн</h3>
            </v-col>
            <v-col cols="12" md="7"></v-col>
            <v-col cols="12" md="5">
              <v-btn large class="buy-button" @click.prevent="addToCart">
                <span>Купить</span>
              </v-btn>
            </v-col>

            <v-col cols="12" md="12">
              <div class="v-data-table elevation-1 theme--light delivery-table">
                <div class="v-data-table__wrapper">
                  <table class="bordered">
                    <tr v-for="(delivery, index) in product.delivery" :key="index">
                      <td>{{ delivery.title.ru }}</td>
                      <td class="text-right">{{ delivery.minPrice || 0 }}грн.</td>
                    </tr>
                  </table>
                </div>
              </div>
            </v-col>
          </v-row>

        </div>
      </v-col>

      <v-col cols="12" md="6">
        <h2>Описание</h2>
        <div class="product-info">
          <div class="product-description">{{ product.description.ru }}</div>
        </div>
      </v-col>

      <v-col cols="12" md="6">
        <h2>Характеристики</h2>
        <div class="product-info">
          <h4>Бренд / Страна производитель:</h4>
          {{ product.brand.title.ru }}, {{ product.brand.country.title.ru }}
        </div>

        <div class="product-info">
          <h4>Размеры:</h4>
          <div class="sizes-list">
            <v-chip label outlined
                    class="chip-label"
                    v-for="(size, sizeIndex) in product.sizes" :key="sizeIndex">
              {{ size.size }}
            </v-chip>
          </div>
        </div>

        <div class="product-info">
          <h4>Цвет</h4>

          <v-chip label :color="color.hex"
                  class="chip-label"
                  v-for="(color, colorIndex) in product.colors" :key="colorIndex">
          </v-chip>
        </div>

        <div class="product-info">
          <h4>Сезон</h4>

          <ul>
            <li v-for="(season, seasonIndex) in product.seasons" :key="seasonIndex">
              {{ season.title.ru }}
            </li>
          </ul>
        </div>
      </v-col>

      <v-col cols="12" md="6">
        <div class="product-info">
          <h2>Оплата</h2>

          <ul>
            <li v-for="(payType, payTypeIndex) in product.payTypes" :key="payTypeIndex">
              {{ payType.title.ru }}

              <p>{{ payType.description.ru }}</p>
            </li>
          </ul>
        </div>
      </v-col>

      <v-col cols="12" md="6">
        <div class="product-info">
          <h2>Доставка</h2>

          <ul>
            <li v-for="(delivery, deliveryIndex) in product.delivery" :key="deliveryIndex">
              {{ delivery.title.ru }}

              <p>{{ delivery.description.ru }}</p>
            </li>
          </ul>
        </div>
      </v-col>

    </v-row>

    <v-dialog
        v-model="confirmDialog"
        max-width="600px"
    >
      <v-card>
        <v-card-title class="text-center">
          <h3 style="width: 100%">Спасибо за Ваш выбор</h3>
        </v-card-title>
        <v-card-text>
          <p class="text-center confirm-message">
            Товар успешно добавлен в корзину
          </p>
        </v-card-text>

        <v-card-actions>
          <v-row class="no-padding">
            <v-col cols="12" md="6" class="text-center">
              <router-link to="/cart">
                <v-btn outlined class="confirm-btn">
                  Оформить заказ
                </v-btn>
              </router-link>
            </v-col>
            <v-col cols="12" md="6" class="text-center">
              <router-link to="/">
                <v-btn color="#04b1b5" class="confirm-btn">
                  Продолжить покупуки
                </v-btn>
              </router-link>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>

import {mapActions, mapGetters} from "vuex";
import CartForm from "../dto/forms/CartForm";

export default {
  name: "ProductCard",
  async created() {
    const slug = this.$route.params.slug
    await this.fetchProductBySlug({slug})
  },
  async serverPrefetch() {
    const slug = this.$route.params.slug
    await this.fetchProductBySlug({slug})
  },
  head() {
    return {
      meta: [
        {charset: 'utf-8'},
        {hid: 'description', name: 'description', content: this.product ? this.product.metaDescription.ru : ''},
        {hid: 'keywords', name: 'keywords', content: this.product ? this.product.metaKey.ru : ''},
        {property: 'og:site_name', content: 'DjeliTop'},
        {property: 'og:title', content: this.product ? this.product.title.ru : ''},
        {property: 'og:description', content: this.product ? this.product.metaDescription.ru : ''},
        {property: 'og:product:brand', content: this.product ? this.product.brand.title.ru : ''},
        {property: 'og:type', content: 'product'},
        {property: 'og:image', content: this.product ? this.activeImageUrl : ''},
        {property: 'og:url', content: this.$config.appUrl + this.$route.path},
      ],
    }
  },
  data() {
    return {
      imageIndex: 0,
      showSizeValidation: false,
      confirmDialog: false,
      form: new CartForm({}),
    }
  },
  jsonld() {
    if (!this.product) {
      return null;
    }

    return {
      '@context': 'https://schema.org',
      '@type': 'Product',
      name: this.product.title['ru'],
      description: this.product.description['ru'],
      brand: {
        "@type": "Thing",
        name: this.product.brand.title['ru'],
      },
      manufacturer: this.product.brand.title['ru'],
      countryOfAssembly: this.product.brand.country.title['ru'],
      countryOfOrigin: this.product.brand.country.title['ru'],
      image: this.product.images.map(item => item.url),
      offers: {
        "@type": "Offer",
        url: "//djelitop.com/" + this.product.slug,
        priceCurrency: "UAH",
        price: this.product.salePrice,
        priceValidUntil: this.product.updatedAt,
        itemCondition: "https://schema.org/NewCondition",
        availability: "https://schema.org/InStock",
        seller: {
          "@type": "Organization",
          "name": "DjeliTop"
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      product: "product/getProduct"
    }),
    activeImageUrl: {
      get: function () {
        if (this.product && this.product.images) {
          return this.$config.apiUrl + this.product.images[this.imageIndex].url
        }

        return '';
      }
    },
  },
  methods: {
    ...mapActions({
      fetchProductBySlug: 'product/fetchProductBySlug',
      registerCart: 'cart/registerCart',
    }),
    toggleImage(index) {
      this.imageIndex = index;
    },
    setSize(size) {
      this.form.sizeId = size.id
      this.showSizeValidation = false;
    },
    async addToCart() {
      this.form.productId = this.product.id

      if (!this.form.sizeId) {
        this.showSizeValidation = true;
        return
      }

      await this.registerCart(this.form).then(res => {
        this.confirmDialog = true;
        setTimeout(() => {
          this.confirmDialog = false;
        }, 4000)
      })
    }
  }
}
</script>

<style scoped lang="scss">
h1, h2 {
  margin-bottom: 25px;
}

.product-card {
  min-height: calc(100% - 64px);
}

.product-image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;

  img {
    width: 100%;
    height: auto;
  }
}

.product-image-slider-container,
.product-image {
  height: 750px;
}

.product-info {
  margin: 0 0 15px;
  font-size: 22px;

  h3, h4, h5, h6, {
    margin-bottom: 20px;
  }
}

.chip-label {
  padding: 15px 10px;
  margin: 0 7px 0 0;
  min-width: 37px;
}

.price {
  font-size: 55px;
}


.product-count {
  height: 65px;
  font-size: 32px;
  border-bottom: 1px solid;
  max-width: 100%;
  text-align: center;
}

.product-count:hover,
.product-count:focus,
.product-count:active {
  outline: none;
}

.buy-button {
  background-color: #04b1b5 !important;
  width: 100%;
  height: 70px !important;
  font-size: 23px !important;
  font-weight: 800;
  color: white !important;
  border-radius: 0 !important;
}

.product-image-slider {
  display: flex;
  margin: 10px 0;
}

.product-description {
  white-space: pre-wrap;
  font-size: 20px;
}

@media (height < 850px) {
  .product-image,
  .product-image-slider-container {
    height: 650px;
  }
}

.confirm-message {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 18px;
  color: black;
}

.confirm-btn {
  width: 240px;
}

.delivery-table {
  margin-top: 40px;

  td {
    padding: 5px 5px 0 5px;
  }
}

@media screen and (max-width: 1023px) {
  .delivery-table {
    margin-top: 0px;
  }
}

@media (height < 750px) {
  .product-image,
  .product-image-slider-container {
    height: 450px;
  }
}
</style>