<template>
  <v-container>
    <div class="static-text" v-if="staticPage" v-html="staticPage.content.ru"></div>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "StaticPage",
  async created() {
    await this.fetchStaticPage(this.$route.name)
  },
  computed: {
    ...mapGetters({
      staticPage: 'static-pages/getStaticPage'
    })
  },
  methods: {
    ...mapActions({
      fetchStaticPage: 'static-pages/fetchStaticPage'
    })
  }
}
</script>

<style scoped>
.static-text{
  padding-top: 25px;
  padding-bottom: 25px;
}
</style>