<template>
  <v-app id="jelly-top-site">
    <v-main>
      <v-container fluid>
        <app-bar></app-bar>
        <div class="page">
          <nuxt />
        </div>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

import AppBar from "../components/AppBar";
import Sidebar from "../components/Sidebar";

export default {
  name: 'defaultLayout',
  components: {AppBar, Sidebar},
};
</script>

<style lang="scss">
.app-wrapper {
  min-height: 100vh;
}

.page-container {
  min-height: calc(100vh - 64px);
}

@media screen and (max-width: 600px) {
  .md-layout {
    padding: 5px !important;
  }
}

.page {
  margin-top: 64px;
}
</style>

