html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #16171b;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
//restyle
.v-list-group--sub-group .v-list-group__header {
  padding-left: 10px !important;
}
.v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > .v-list-item {
  padding-left: 50px !important;
}

//colors
.color-red {
  color: red !important;

  i {
    color: red !important;
  }
}

.color-green {
  color: green !important;

  i {
    color: green !important;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.bordered {
  border: 1px solid darkgray;
}