<template>
  <header
      class="header"
      :class="{ 'show-mobile-nav': showMobileMenu }"
  >
    <div class="header-container">
      <div class="header-top">
        <div class="catalog-nav">
          <button
              class="catalog__btn"
              @click="toggleMobCatalog"
          >
            Каталог
          </button>
          <div
              v-if="toggleMobileCatalog"
              class="catalog-nav__list"
              @click="toggleMenu"
          >
            <a v-for="(type, typeIndex) in typesList"
               :key="typeIndex"
               @click="setCatalog(type.slug)"
               class="catalog__dropdown--link color-white" href="#"
               v-bind:class="{ 'color-white' : dropdownActive }">{{ type.title.ru }}</a>
          </div>
        </div>

        <nav class="header-top__nav" @click="closeMenu">
          <router-link to="delivery">Доставка</router-link>
          <router-link to="payments">Оплата</router-link>
          <router-link to="contacts">Контакты</router-link>
          <router-link to="actions">Акции</router-link>
        </nav>
        <a class="header-top__phone" href="tel:+380672977918">+38 (067) 297 79 18</a>
      </div>

      <div class="header-content">
        <div
            class="burger burger-nav"
            @click="toggleMenu"
            :class="{ 'active': showMobileMenu }"
        >
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>

        <router-link class="header-content__logo" to="/">
          <img src="images/logo.png" alt="logo">
        </router-link>

        <div class="header-content__center">
          <div class="catalog">
            <button
                class="catalog__btn"
                @click="toggleCatalog"
                v-click-outside="dropdownActive = false"
            >
              Каталог
            </button>

            <div class="catalog__dropdown" :class="{ active: dropdownActive }">
              <a v-for="(type, typeIndex) in typesList"
                 :key="typeIndex"
                 @click="setCatalog(type.slug)"
                 class="catalog__dropdown--link" href="#">
                {{ type.title.ru }}
              </a>
            </div>
          </div>
<!--          <v-input class="header-content__search" append-icon="mdi-magnify"></v-input>-->
<!--          <input type="text" class="header-content__search">-->
          <v-text-field class="header-content__search"
                        append-icon="mdi-magnify"
                        hide-details
                        solo>
          </v-text-field>
        </div>

        <router-link to="/cart" class="header-content__basket">
          <span class="header-content__basket--price">
            {{ calcCartSum() }} грн
          </span>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
                fill="#00afb1"
                d="M14 13.1v-1.1h-9.4l0.6-1.1 9.2-0.9 1.6-6h-12.3l-0.7-3h-3v1h2.2l2.1 8.4-1.3 2.6v1.5c0 0.8 0.7 1.5 1.5 1.5s1.5-0.7 1.5-1.5-0.7-1.5-1.5-1.5h7.5v1.5c0 0.8 0.7 1.5 1.5 1.5s1.5-0.7 1.5-1.5c0-0.7-0.4-1.2-1-1.4zM4 5h10.7l-1.1 4-8.4 0.9-1.2-4.9z">
            </path>
          </svg>
        </router-link>
      </div>
    </div>
  </header>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import ProductFilter from "../dto/forms/ProductFilter";

export default {
  name: "AppBar",
  data() {
    return {
      filter: null,
      dropdownActive: false,
      showMobileMenu: false,
      toggleMobileCatalog: false
    }
  },
  async serverPrefetch() {
    if (!this.typesList.length) {
      await this.fetchTypesSelectList()
    }
    this.filter = new ProductFilter(this.$route.query)
  },
  async created() {
    if (!this.typesList.length) {
      await this.fetchTypesSelectList()
    }
    await this.fetchCartsList()
    this.filter = new ProductFilter(this.$route.query)
  },
  computed: {
    ...mapGetters({
      typesList: 'type/getTypesSelectList',
      cartsList: 'cart/getCartsList'
    })
  },
  methods: {
    ...mapActions({
      fetchTypesSelectList: 'type/fetchTypesSelectList',
      fetchCartsList: 'cart/fetchCartsList',
      fetchProductsList: 'product/fetchProductsList',
    }),
    calcCartSum() {
      let sum = 0;
      for (let i in this.cartsList) {
        sum += this.cartsList[i].sum
      }

      return sum;
    },
    async setCatalog(type) {
      this.filter.types = []
      this.filter.types.push(type)
      this.$router.push({ path: '/', query: this.filter})

      // document.getElementById('product-list').scrollIntoView({
      //   behavior: "smooth"
      // });

      await this.fetchProductsList(this.filter)
    },
    toggleCatalog: function () {
      this.dropdownActive = !this.dropdownActive;
    },
    toggleMobCatalog: function () {
      this.toggleMobileCatalog = !this.toggleMobileCatalog;
    },
    toggleMenu: function () {
      this.showMobileMenu = !this.showMobileMenu;
    },
    closeMenu: function () {
      if (this.showMobileMenu) {
        this.showMobileMenu = !this.showMobileMenu;
      }
    }
  }
}
</script>

<style scoped lang="scss">
$transition: all ease .25s;

$white: #ffffff;
$black: #000000;
$topNavColor: #102627;
$topNavColorHover: darken($topNavColor, 8%);

$headerContentBg: #102627;

$catalogBg: #00afb1;
$catalogBgHover: darken($catalogBg, 5%);

$lineHeight: 1.4;
$boxShadow: 0 1px 5px rgba(0, 0, 0, .2);
$mobileView: 1023px;

header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

.catalog {
  margin-right: 25px;
  display: inline-block;
  position: relative;
  z-index: 1;
  @media screen and (max-width: $mobileView) {
    display: none;
  }

  &__btn {
    min-width: 240px;
    padding: 0 10px;
    color: $white;
    font-size: 20px;
    font-weight: 500;
    background-color: $catalogBg;
    transition: $transition;
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:active {
      background-color: $catalogBgHover;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $white;
    box-shadow: $boxShadow;
    padding: 9px 0;

    &--link {
      display: block;
      padding: 9px 10px 9px 30px;
      font-weight: bold;
      color: $black;
      transition: $transition;

      &:hover {
        color: lighten($black, 30%);
      }
    }

    &.active {
      display: block;
    }
  }

  &:hover {
    .catalog {
      &__dropdown {
        display: block;
      }
    }
  }

  &-nav {
    display: none;
  }
}

.header {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 48px;
    background-color: #f2f3f7;
    padding: 0 15px;
    @media screen and (max-width: $mobileView) {
      display: none;
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {
        display: inline-block;
        font-size: 16px;
        line-height: $lineHeight;
        color: $topNavColor;
        transition: $transition;
        text-decoration: none;

        &:not(:last-child) {
          margin-right: 37px;
        }

        &:hover {
          color: $topNavColorHover;
        }
      }
    }

    &__phone {
      font-size: 18px;
      line-height: 1;
      color: $topNavColor;
      display: inline-block;
      font-weight: 500;
      transition: $transition;
      @media screen and (max-width: $mobileView) {
        display: none;
      }

      &:hover {
        color: $topNavColorHover;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    background-color: $headerContentBg;
    @media screen and (max-width: $mobileView) {
      padding: 10px;
    }

    &__logo {
      display: inline-block;
      max-width: 140px;
      margin-right: 68px;
      flex-shrink: 0;
      @media screen and (max-width: $mobileView) {
        max-width: 100%;
        margin-right: 0;
        text-align: center;
      }

      img {
        display: inline-block;
        width: 100%;
        max-width: 120px;
      }
    }

    &__center {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      @media screen and (max-width: $mobileView) {
        display: none;
      }
    }


    &__search.v-text-field {
      margin-top: 0 !important;
    }
    &__search {
      width: 100%;
      max-width: 850px;
      min-height: 45px;
      line-height: 45px;
      color: $topNavColor;
      font-weight: 500;
      font-size: 18px;
      background-color: $white;
      margin-right: 0 !important;
      padding: 0 10px;
      border-radius: 0 !important;
      @media screen and (max-width: $mobileView) {
        display: none;
      }

      &:focus {
        background-color: darken($white, 4%);
        outline: 0;
      }
    }

    &__basket {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
      min-width: 205px;
      @media screen and (max-width: $mobileView) {
        min-width: inherit;
      }

      &--price {
        font-size: 22px;
        font-weight: bold;
        color: $white;
        @media screen and (max-width: $mobileView) {
          display: none;
        }
      }

      svg {
        width: 32px;
        margin-left: 20px;
        color: red;
        transition: $transition;
      }

      &:hover {
        .header-content {
          &__basket {
            &--price {
              color: darken($white, 4%);
            }
          }
        }

        svg {
          opacity: .8;
        }
      }
    }
  }

  &.show-mobile-nav {
    @media screen and (max-width: $mobileView) {
      position: fixed;
      z-index: 999;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow-x: auto;
      background-color: $headerContentBg;
    }

    .header {
      &-top {
        @media screen and (max-width: $mobileView) {
          display: block;
          order: 2;
          background-color: $headerContentBg;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 30px;
        }

        &__phone {
          @media screen and (max-width: $mobileView) {
            margin-top: 25px;
            display: block;
            text-align: center;
            color: $white;
          }
        }

        &__nav {
          @media screen and (max-width: $mobileView) {
            flex-wrap: wrap;
          }

          a {
            @media screen and (max-width: $mobileView) {
              display: block;
              width: 100%;
              text-align: center;
              color: $white;
              padding: 10px 0;
            }

            &:not(:last-child) {
              @media screen and (max-width: $mobileView) {
                margin-right: 0;
              }
            }
          }
        }
      }

      &-container {
        @media screen and (max-width: $mobileView) {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          width: 100%;
        }
      }

      &-content {
        @media screen and (max-width: $mobileView) {
          order: 1;
        }
      }
    }

    .catalog {
      &-nav {
        display: block;
        text-align: center;
        font-size: 18px;
        padding-bottom: 25px;

        &__link {
          display: block;
          text-align: center;
          color: $white;
          padding: 10px 0;
        }

        .catalog__btn {
          width: 100%;
          max-width: calc(100% + 20px);
          margin-left: -10px;
          margin-right: -10px;
        }
      }
    }
  }
}
</style>
