<template>
  <v-row class="no-padding" id="banner">
    <v-col cols="12" md="12" class="no-padding">
      <v-carousel hide-delimiters cycle v-if="images && images.length" height="auto">
        <v-carousel-item
            v-for="(img,i) in images"
            :key="i"
            :src="$config.apiUrl + img.link"
        ></v-carousel-item>
      </v-carousel>
    </v-col>
  </v-row>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Carousel",
  async created() {
    await this.fetchSliderList()
  },
  async serverPrefetch() {
    await this.fetchSliderList()
  },
  computed: {
    ...mapGetters({
      images: 'slider/getSlidersSelectList'
    })
  },
  methods: {
    ...mapActions({
      fetchSliderList: 'slider/fetchSlidersSelectList'
    })
  }
}
</script>

<style scoped>

</style>