<template>
  <div class="text-center">
    <v-pagination v-if="pagination && pagination.lastPage > 1"
                  :value="pagination.currentPage"
                  :length="pagination.lastPage"
                  prev-icon="mdi-menu-left"
                  next-icon="mdi-menu-right"
                  @input="changePage"
    ></v-pagination>
  </div>
</template>

<script>
export default {
  name: "Pagination",
  props: {
    pagination: Object,
  },
  methods: {
    async changePage(page) {
      this.$emit('changePage', page)
    }
  }
}
</script>

<style scoped>

</style>