<template>
  <v-container fluid>

    <v-row id="product-list" ref="productList" class="no-padding">
      <v-col cols="12" lg="4" md="4" xl="3" v-for="(product, index) in productsList" :key="index">
        <router-link
            :to="{ name: 'product-card', params: { slug: product.slug }}"
            target='_blank'>
          <v-card elevation="3" ref="card">
            <v-img
                :aspect-ratio="1"
                ref="product-photo"
                :src="getImageUrl(product.images)">
            </v-img>
            <v-card-title>
              <h4 class="product-title">{{ product.title.ru }}</h4>
            </v-card-title>
            <v-card-text>

              <v-row class="price-row">
                <v-col cols="9" md="9" class="product-price no-padding">
                  <span class="price">{{ product.salePrice }}</span> грн
                </v-col>
                <v-col cols="3" md="3" class="no-padding">
                  <v-btn class="buy-button" large color="#fff">
                    <v-icon>mdi-cart-outline</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <div class="sizes-list">
                <v-chip label color="#fff"
                        class="size-chip"
                        v-for="(size, sizeIndex) in product.sizes" :key="sizeIndex">
                  {{ size.size }}
                </v-chip>
              </div>
            </v-card-text>
          </v-card>
        </router-link>
      </v-col>
    </v-row>

    <pagination :pagination="pagination" @changePage="changePage"></pagination>
  </v-container>
</template>

<script>
import Pagination from "./Pagination";
import {mapActions, mapGetters} from "vuex";
import ProductFilter from "@/dto/forms/ProductFilter";

export default {
  name: "ProductsList",
  components: {Pagination},
  data() {
    return {
      filter: null
    }
  },
  async created() {
    this.filter = new ProductFilter(this.$route.query)
    await this.fetchProductsList(this.filter)
  },
  async serverPrefetch() {
    const filter = new ProductFilter(this.$route.query)
    await this.fetchProductsList(this.filter)
  },
  mounted() {
    this.scrollToProducts()
  },
  watch: {
    productsList: function (val) {
      if (this.hasFilter) {
        this.scrollToProducts()
      }
    }
  },
  computed: {
    ...mapGetters({
      productsList: 'product/getProductsList',
      pagination: 'product/getProductsPagination'
    })
  },
  methods: {
    ...mapActions({
      fetchProductsList: 'product/fetchProductsList'
    }),
    hasFilter(){
      return !!(isNaN(this.filter.minPrice)
          || isNaN(this.filter.maxPrice)
          || this.filter.brands.length
          || this.filter.types.length
          || this.filter.seasons.length
          || this.filter.sizes.length
          || this.filter.colors.length
          || this.filter.genders.length)
    },
    scrollToProducts() {
      if (this.hasFilter()) {
        let container = this.$el.querySelector("#product-list");
        window.scrollTo({ top: container.offsetTop - 155 });
      }
    },
    getImageUrl(images) {
      return images.length && images[0].url ? this.$config.apiUrl + images[0].url : ''
    },
    async changePage(page) {
      let filter = new ProductFilter(this.$route.query)
      filter.page = page
      await this.fetchProductsList(filter)
    }
  }
}
</script>

<style scoped lang="scss">
.product-photo-container {
  height: 24vw;
  overflow: hidden;
  display: flex;
}

.sizes-list {
  height: 64px;
  overflow: hidden;
  margin: 5px 0;
}

.size-chip {
  margin-right: 2px;
  font-weight: 700;
}

.product-title {
  overflow-wrap: normal;
  word-break: normal;
  height: 64px;
  overflow: hidden;
}

.product-price {
  line-height: 52px;
}

.price {
  font-size: 35px;
}

.price-row {
  padding: 0 !important;
  margin: 0 !important;
  color: black !important;
  font-size: 28px;
  font-weight: 450;
}

.buy-button {
  width: 100%;
  background-color: white;
  box-shadow: none;

  i {
    font-size: 45px;
    color: #04b1b5 !important;
  }
}
</style>