<template>
  <v-container fluid>
    <v-row class="row no-padding">
      <v-col cols="12" md="12" class="no-padding">
        <v-expansion-panels multiple>

          <v-expansion-panel>
            <v-expansion-panel-header>Цена</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row>
                <v-col cols="12" md="12" lg="6">
                  <v-text-field
                      type="number"
                      v-model="filter.minPrice"
                      label="Мин. цена"
                      @change="setFilter"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" lg="6">
                  <v-text-field
                      type="number"
                      v-model="filter.maxPrice"
                      label="Макс. цена"
                      @change="setFilter"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>Тип обуви</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-checkbox
                  class="filter-checkbox"
                  v-for="(type, typeIndex) in typesList" :key="typeIndex"
                  v-model="filter.types"
                  :label="type.title.ru"
                  :value="type.slug"
                  @change="setFilter"
              ></v-checkbox>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>Пол</v-expansion-panel-header>
            <v-expansion-panel-content>

              <v-row class="no-padding">
                <v-col cols="12" md="12" lg="6"
                       class="no-padding"
                       v-for="(gender, genderIndex) in gendersList"
                       :key="genderIndex">
                  <v-checkbox
                      class="filter-checkbox"
                      v-model="filter.genders"
                      :label="gender.title.ru"
                      :value="gender.slug"
                      @change="setFilter"
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>Сезон</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row class="no-padding">
                <v-col cols="6" md="6"
                       class="no-padding"
                       v-for="(season, seasonIndex) in seasonsList"
                       :key="seasonIndex">
                  <v-checkbox
                      class="filter-checkbox"
                      v-model="filter.seasons"
                      :label="season.title.ru"
                      :value="season.slug"
                      @change="setFilter"
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>Бренд</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-checkbox
                  class="filter-checkbox"
                  v-for="(brand, brandIndex) in brandsList" :key="brandIndex"
                  v-model="filter.brands"
                  :label="brand.title.ru"
                  :value="brand.slug"
                  @change="setFilter"
              ></v-checkbox>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>Цвет</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row class="no-padding">
                <v-col cols="12" md="12" lg="6"
                       class="no-padding"
                       v-for="(color, colorIndex) in colorsList"
                       :key="colorIndex">
                  <v-checkbox
                      class="filter-checkbox"
                      v-model="filter.colors"
                      :label="color.title.ru"
                      :value="color.slug"
                      color="#04b1b5"
                      @change="setFilter"
                  >
                  </v-checkbox>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>Размер</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row class="no-padding">
                <v-col cols="12" md="6" lg="4"
                       class="no-padding"
                       v-for="(size, sizeIndex) in sizesList"
                       :key="sizeIndex">
                  <v-checkbox
                      class="filter-checkbox"
                      v-model="filter.sizes"
                      :label="size.size.toString()"
                      :value="size.size.toString()"
                      @change="setFilter"
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>

        </v-expansion-panels>
      </v-col>

      <v-col cols="12" md="12" class="filter-btn-block">
        <v-btn color="#04b1b5" class="search-button filter-btn" @click="setFilter">
          Применить
        </v-btn>
      </v-col>

      <v-col cols="12" md="12" class="filter-btn-block">
        <v-btn outlined @click="resetFilter" class="filter-btn">
          Очистить
        </v-btn>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import ProductFilter from "../dto/forms/ProductFilter";

export default {
  name: "ProductFilter",
  data: () => {
    return {
      filter: null
    }
  },
  watch: {
    "$route.query"(value) {
      this.filter = new ProductFilter(this.$route.query)
    }
  },
  async created() {
    this.filter = new ProductFilter(this.$route.query)
    await this.init()
  },
  computed: {
    ...mapGetters({
      typesList: 'type/getTypesSelectList',
      brandsList: 'brand/getBrandsSelectList',
      seasonsList: 'season/getSeasonsSelectList',
      sizesList: 'size/getSizesSelectList',
      colorsList: 'color/getColorsSelectList',
      gendersList: 'gender/getGendersSelectList',
    })
  },
  methods: {
    ...mapActions({
      fetchTypesSelectList: 'type/fetchTypesSelectList',
      fetchBrandsSelectList: 'brand/fetchBrandsSelectList',
      fetchSeasonsSelectList: 'season/fetchSeasonsSelectList',
      fetchSizesSelectList: 'size/fetchSizesSelectList',
      fetchColorsSelectList: 'color/fetchColorsSelectList',
      fetchProductsList: 'product/fetchProductsList',
      fetchGendersList: 'gender/fetchGendersSelectList',
    }),
    async init() {
      if (!this.typesList.length) {
        await this.fetchTypesSelectList()
      }
      if (!this.brandsList.length) {
        await this.fetchBrandsSelectList()
      }
      if (!this.seasonsList.length) {
        await this.fetchSeasonsSelectList()
      }
      if (!this.sizesList.length) {
        await this.fetchSizesSelectList()
      }
      if (!this.colorsList.length) {
        await this.fetchColorsSelectList()
      }
      if (!this.gendersList.length) {
        await this.fetchGendersList()
      }
    },
    resetFilter() {
      this.filter = new ProductFilter({});
      this.$router.push({ path: '/', query: this.filter})
    },
    setFilter() {
      this.fetchProductsList(this.filter);
      this.$router.push({ path: '/', query: this.filter})
    }
  }
}
</script>

<style scoped lang="scss">
.filter-btn {
  width: 100%;
  border-radius: 0;
}
.filter-btn-block {
  padding: 15px 0;
}
.search-button {
  color: white !important;
  font-weight: 600;
}

.color-label {
  text-shadow: 1px 1px 1px black, -1px -1px 1px white, -1px 1px 1px black, 1px -1px 1px black;
}

.filter-checkbox {
  margin: 0 !important;
}
</style>