<template>
  <v-navigation-drawer>
    <v-list>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <router-link to="/products">Каталог товара</router-link>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <router-link to="/brands">Клиенты</router-link>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <router-link to="/brands">Заказы</router-link>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Sidebar",
  data: () => ({
    drawer: null,
  }),
  async created() {},
  computed: {
    ...mapGetters({
    }),
  },
  methods: {
    ...mapActions({
    })
  },
}
</script>

<style scoped lang="scss">
.link {
  display: block;
}
</style>